@import "../css/base/Extensions";

.Slide {
  background-color: $tertiary-100;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  img {
    z-index: 0;
  }

  .Slide-Description, .Slide-Title, .Slide-Content {
    z-index: 1;
  }

  .Slide-Description {
    padding-inline: calc(#{$standard} * 4);
  }

  .Slide-Content {
    row-gap: calc(#{$standard} * 6);
    padding-top: calc(#{$standard} * 16);
  }
}

@media only screen and (min-width: 1200px) {
  .Slide {
    grid-template-rows: repeat(5, 160px);
    grid-template-columns: repeat(10, minmax(120px, 140px));

    .Button-Container {
      grid-area: 4/2/5/4;
    }

    .Slide-Content {
      grid-area: 1/6/4/10;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .Slide {
    grid-template-rows: repeat(5, 160px);
    grid-template-columns: repeat(10, minmax(99px, 120px));

    .Button-Container {
      grid-area: 4/2/5/4;
    }

    .Slide-Content {
      grid-area: 1/6/4/10;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .Slide {
    grid-template-rows: repeat(5, 150px);
    grid-template-columns: repeat(10, minmax(77px, 99px));

    .Button-Container {
      grid-area: 4/6/5/10;
    }

    .Slide-Content {
      grid-area: 1/2/4/7;
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .Slide {
    grid-template-rows: repeat(5, 150px);
    grid-template-columns: repeat(10, minmax(48px, 77px));

    .Button-Container {
      grid-area: 4/2/5/6;
    }

    .Slide-Content {
      grid-area: 1/2/4/10;
    }
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .Slide {
    grid-template-rows: repeat(5, 150px);
    grid-template-columns: repeat(10, minmax(32px, 48px));

    .Button-Container {
      grid-area: 4/2/6/10;
    }

    .Slide-Content {
      grid-area: 1/3/4/9;
    }
  }
}

@media only screen and (max-width: 320px) {
  .Slide {
    grid-template-rows: repeat(5, 150px);
    grid-template-columns: repeat(10, minmax(20px, 32px));

    .Button-Container {
      grid-area: 4/2/6/10;
    }

    .Slide-Content {
      grid-area: 1/3/4/9;
    }
  }
}