@charset "UTF-8";
.base .Page-Wrapper {
  display: grid;
  display: -webkit-grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -o-grid;
}

.base {
  position: relative;
  gap: 0 0;
}
.base .Page-Wrapper {
  grid-template-columns: minmax(10px, 1fr);
  transition: all 0.6s ease-in-out !important;
  -webkit-transition: all 0.6s ease-in-out !important;
  -moz-transition: all 0.6s ease-in-out !important;
  -ms-transition: all 0.6s ease-in-out !important;
  -o-transition: all 0.6s ease-in-out !important;
  transform-origin: 0;
  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  -o-transform-origin: 0;
  -ms-transform-origin: 0;
}

main, .Cart-Page {
  background: #fff9f3;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
}

.Image_200_300 {
  width: 300px;
  height: 380px;
}

.Quote {
  font-style: italic;
  color: #555555;
  position: relative;
  background: #f0f0f0;
  border-left: 8px solid #711604;
}
.Quote::before {
  content: "“";
  color: #711604;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}
.Quote::after {
  content: "";
}
.Quote cite {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  text-align: right;
  text-align: -moz-right;
  text-align: -webkit-right;
  margin-top: 0.5em;
}

.Image_200_300 {
  width: 300px;
  height: 380px;
}

.Cart-Item-Image {
  width: 80px;
  height: 80px;
  padding: 4px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #000000;
}

@media only screen and (max-width: 1400px) {
  .Playfair {
    font-family: "Playfair Display", serif;
  }
  .Playfair p, .Playfair a, .Playfair label, .Playfair button, .Playfair input, .Playfair blockquote {
    font-size: 18px;
    margin: 0;
  }

  .Nunito {
    font-family: "Nunito", sans-serif;
  }
  .Nunito p, .Nunito a, .Nunito label, .Nunito button, .Nunito input, .Nunito blockquote {
    font-size: 18px;
    margin: 0;
  }
}
@media only screen and (max-width: 768px) {
  .Playfair {
    font-family: "Playfair Display", serif;
  }
  .Playfair p, .Playfair a, .Playfair label, .Playfair button, .Playfair input, .Playfair blockquote {
    font-size: 14px;
    margin: 0;
  }

  .Nunito {
    font-family: "Nunito", sans-serif;
  }
  .Nunito p, .Nunito a, .Nunito label, .Nunito button, .Nunito input, .Nunito blockquote {
    font-size: 14px;
    margin: 0;
  }
}
@media only screen and (min-width: 1400px) {
  .base {
    display: grid;
    display: -webkit-grid;
    display: -moz-grid;
    display: -ms-grid;
    display: -o-grid;
    grid-template-columns: minmax(10px, 1fr) 1400px minmax(10px, 1fr);
    grid-template-rows: minmax(10px, 1fr);
  }
  .base .Page-Wrapper {
    grid-area: 1/2/2/3;
    grid-template-rows: 130px minmax(10px, 1fr) 390px;
  }

  .Playfair {
    font-family: "Playfair Display", serif;
  }
  .Playfair p, .Playfair a, .Playfair label, .Playfair button, .Playfair input, .Playfair blockquote {
    font-size: 20px;
    margin: 0;
  }

  .Nunito {
    font-family: "Nunito", sans-serif;
  }
  .Nunito p, .Nunito a, .Nunito label, .Nunito button, .Nunito input, .Nunito blockquote {
    font-size: 20px;
    margin: 0;
  }

  .Quote {
    padding: 10px 30px 10px 75px;
    border-left: 8px solid #711604;
  }
  .Quote::before {
    font-size: 4em;
    left: 10px;
    top: -10px;
  }
  .Quote cite {
    margin-top: 0.5em;
  }

  .icon {
    width: 28px;
    height: 28px;
  }

  .icon-flag {
    width: 28px;
    border: 1px solid #626A66;
  }

  .Icon-Tooltip {
    width: 46px;
    height: 46px;
  }

  .logo-icon {
    width: 70px;
    height: 50px;
  }

  .Main-Page_Horizontal-Image {
    width: 600px;
    height: 350px;
  }

  .Main-Page_Vertical-Image {
    width: 375px;
    height: 710px;
  }

  .categoryImage {
    width: 650px;
    height: 650px;
  }

  .categoryImageContainer {
    width: 650px;
    height: auto;
  }

  .listImage {
    width: 400px;
    height: 400px;
  }

  .listImageContainer {
    width: 400px;
    height: auto;
  }

  .productImage {
    width: 400px;
    height: 400px;
    padding: 4px;
    border-radius: 8px;
    background: #ffffff;
    border: 1px solid #000000;
    transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    -moz-transition: all 0.4s ease-in-out !important;
    -ms-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
  }
  .productImage:hover {
    filter: drop-shadow(0 0 6px #711604);
  }

  .productImageContainer {
    width: 400px;
    height: auto;
  }

  .similarProductImage {
    width: 250px;
    height: 250px;
  }

  .similarProductImageContainer {
    width: 250px;
    height: auto;
  }

  .Image-Width300-Height400 {
    width: 300px;
    height: 400px;
  }

  .Image-400-400 {
    width: 400px;
    height: 400px;
  }

  .SVG-Image {
    width: 500px;
    height: auto;
  }
  .SVG-Image-Pop-Up {
    width: 260px;
    height: auto;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .base {
    grid-template-columns: minmax(1200px, 1399px);
  }
  .base .Page-Wrapper {
    grid-area: 1/1/2/2;
    grid-template-columns: minmax(10px, 1399px);
    grid-template-rows: 130px minmax(10px, 1fr) 390px;
  }

  .Quote {
    padding: 10px 10px 10px 45px;
  }

  .icon {
    width: 26px;
    height: 26px;
  }

  .icon-flag {
    width: 26px;
    border: 1px solid #626A66;
  }

  .Icon-Tooltip {
    width: 42px;
    height: 42px;
  }

  .logo-icon {
    width: 66px;
    height: 46px;
  }

  .Main-Page_Horizontal-Image {
    width: 520px;
    height: 310px;
  }

  .Main-Page_Vertical-Image {
    width: 300px;
    height: 630px;
  }

  .categoryImage {
    width: 590px;
    height: 590px;
  }

  .categoryImageContainer {
    width: 590px;
    height: auto;
  }

  .listImage {
    width: 360px;
    height: 360px;
  }

  .Image_200_300 {
    width: 300px;
    height: 380px;
  }

  .listImageContainer {
    width: 360px;
    height: auto;
  }

  .productImage {
    width: 360px;
    height: 360px;
    padding: 4px;
    border-radius: 8px;
    background: #ffffff;
    border: 1px solid #000000;
    transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    -moz-transition: all 0.4s ease-in-out !important;
    -ms-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
  }
  .productImage:hover {
    filter: drop-shadow(0 0 6px #711604);
  }

  .productImageContainer {
    width: 360px;
    height: auto;
  }

  .similarProductImage {
    width: 230px;
    height: 230px;
  }

  .similarProductImageContainer {
    width: 230px;
    height: auto;
  }

  .Image-Width300-Height400 {
    width: 300px;
    height: 400px;
  }

  .Image-400-400 {
    width: 400px;
    height: 400px;
  }

  .SVG-Image {
    width: 450px;
    height: auto;
  }
  .SVG-Image-Pop-Up {
    width: 230px;
    height: auto;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .base {
    grid-template-columns: minmax(992px, 1199px);
  }
  .base .Page-Wrapper {
    grid-template-rows: 124px minmax(10px, 1fr) 390px;
  }

  .Quote {
    padding: 10px 10px 10px 45px;
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  .icon-flag {
    width: 25px;
    border: 1px solid #626A66;
  }

  .Icon-Tooltip {
    width: 40px;
    height: 40px;
  }

  .logo-icon {
    width: 64px;
    height: 44px;
  }

  .Main-Page_Horizontal-Image {
    width: 780px;
    height: 300px;
  }

  .Main-Page_Vertical-Image {
    width: 380px;
    height: 610px;
  }

  .categoryImage {
    width: 500px;
    height: 500px;
  }

  .categoryImageContainer {
    width: 500px;
    height: auto;
  }

  .listImage {
    width: 320px;
    height: 320px;
  }

  .Image_200_300 {
    width: 300px;
    height: 380px;
  }

  .listImageContainer {
    width: 320px;
    height: auto;
  }

  .productImage {
    width: 320px;
    height: 320px;
    padding: 4px;
    border-radius: 8px;
    background: #ffffff;
    border: 1px solid #000000;
    transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    -moz-transition: all 0.4s ease-in-out !important;
    -ms-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
  }
  .productImage:hover {
    filter: drop-shadow(0 0 6px #711604);
  }

  .productImageContainer {
    width: 320px;
    height: auto;
  }

  .similarProductImage {
    width: 200px;
    height: 200px;
  }

  .similarProductImageContainer {
    width: 200px;
    height: auto;
  }

  .Image-Width300-Height400 {
    width: 300px;
    height: 400px;
  }

  .Image-400-400 {
    width: 400px;
    height: 400px;
  }

  .SVG-Image {
    width: 400px;
    height: auto;
  }
  .SVG-Image-Pop-Up {
    width: 215px;
    height: auto;
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .base {
    grid-template-columns: minmax(10px, 1fr) minmax(700px, 800px) minmax(10px, 1fr);
  }
  .base .Page-Wrapper {
    grid-template-rows: 120px minmax(10px, 1fr) 390px;
  }

  .Quote {
    padding: 10px 10px 10px 45px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .icon-flag {
    width: 24px;
    border: 1px solid #626A66;
  }

  .Icon-Tooltip {
    width: 38px;
    height: 38px;
  }

  .logo-icon {
    width: 62px;
    height: 42px;
  }

  .Main-Page_Horizontal-Image {
    width: 600px;
    height: 240px;
  }

  .Main-Page_Vertical-Image {
    width: 290px;
    height: 400px;
  }

  .categoryImage {
    width: 420px;
    height: 420px;
  }

  .categoryImageContainer {
    width: 420px;
    height: auto;
  }

  .listImage {
    width: 300px;
    height: 300px;
  }

  .Image_200_300 {
    width: 300px;
    height: 380px;
  }

  .listImageContainer {
    width: 300px;
    height: auto;
  }

  .productImage {
    width: 300px;
    height: 300px;
    padding: 4px;
    border-radius: 8px;
    background: #ffffff;
    border: 1px solid #000000;
    transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    -moz-transition: all 0.4s ease-in-out !important;
    -ms-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
  }
  .productImage:hover {
    filter: drop-shadow(0 0 6px #711604);
  }

  .productImageContainer {
    width: 300px;
    height: auto;
  }

  .similarProductImage {
    width: 180px;
    height: 180px;
  }

  .similarProductImageContainer {
    width: 180px;
    height: auto;
  }

  .Image-Width300-Height400 {
    width: 300px;
    height: 400px;
  }

  .Image-400-400 {
    width: 400px;
    height: 400px;
  }

  .SVG-Image {
    width: 300px;
    height: auto;
  }
  .SVG-Image-Pop-Up {
    width: 200px;
    height: auto;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .base {
    grid-template-columns: minmax(481px, 768px);
  }
  .base .Page-Wrapper {
    grid-template-rows: 110px minmax(10px, 1fr) 390px;
  }

  .Quote {
    padding: 10px 10px 10px 45px;
  }

  .icon {
    width: 23px;
    height: 23px;
  }

  .icon-flag {
    width: 23px;
    border: 1px solid #626A66;
  }

  .Icon-Tooltip {
    width: 36px;
    height: 36px;
  }

  .logo-icon {
    width: 60px;
    height: 40px;
  }

  .Main-Page_Horizontal-Image {
    width: 420px;
    height: 240px;
  }

  .Main-Page_Vertical-Image {
    width: 200px;
    height: 410px;
  }

  .categoryImage {
    width: 350px;
    height: 350px;
  }

  .categoryImageContainer {
    width: 350px;
    height: auto;
  }

  .listImage {
    width: 270px;
    height: 270px;
  }

  .Image_200_300 {
    width: 300px;
    height: 380px;
  }

  .listImageContainer {
    width: 270px;
    height: auto;
  }

  .productImage {
    width: 270px;
    height: 270px;
    padding: 4px;
    border-radius: 8px;
    background: #ffffff;
    border: 1px solid #000000;
    transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    -moz-transition: all 0.4s ease-in-out !important;
    -ms-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
  }
  .productImage:hover {
    filter: drop-shadow(0 0 6px #711604);
  }

  .productImageContainer {
    width: 270px;
    height: auto;
  }

  .similarProductImage {
    width: 180px;
    height: 180px;
  }

  .similarProductImageContainer {
    width: 180px;
    height: auto;
  }

  .Image-Width300-Height400 {
    width: 300px;
    height: 400px;
  }

  .Image-400-400 {
    width: 400px;
    height: 400px;
  }

  .SVG-Image {
    width: 280px;
    height: auto;
  }
  .SVG-Image-Pop-Up {
    width: 185px;
    height: auto;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .base {
    grid-template-columns: minmax(321px, 480px);
  }
  .base .Page-Wrapper {
    grid-template-rows: 100px minmax(10px, 1fr) minmax(390px, auto);
  }

  .Quote {
    padding: 10px 10px 10px 45px;
  }

  .icon {
    width: 22px;
    height: 22px;
  }

  .icon-flag {
    width: 22px;
    border: 1px solid #626A66;
  }

  .Icon-Tooltip {
    width: 34px;
    height: 34px;
  }

  .logo-icon {
    width: 56px;
    height: 36px;
  }

  .Main-Page_Horizontal-Image {
    width: 310px;
    height: 200px;
  }

  .Main-Page_Vertical-Image {
    width: 145px;
    height: 310px;
  }

  .categoryImage {
    width: 290px;
    height: 290px;
  }

  .categoryImageContainer {
    width: 290px;
    height: auto;
  }

  .listImage {
    width: 250px;
    height: 250px;
  }

  .Image_200_300 {
    width: 300px;
    height: 380px;
  }

  .listImageContainer {
    width: 250px;
    height: auto;
  }

  .productImage {
    width: 250px;
    height: 250px;
    padding: 4px;
    border-radius: 8px;
    background: #ffffff;
    border: 1px solid #000000;
    transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    -moz-transition: all 0.4s ease-in-out !important;
    -ms-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
  }
  .productImage:hover {
    filter: drop-shadow(0 0 6px #711604);
  }

  .productImageContainer {
    width: 250px;
    height: auto;
  }

  .similarProductImage {
    width: 140px;
    height: 140px;
  }

  .similarProductImageContainer {
    width: 140px;
    height: auto;
  }

  .Image-Width300-Height400 {
    width: 300px;
    height: 400px;
  }

  .Image-400-400 {
    width: 400px;
    height: 400px;
  }

  .SVG-Image {
    width: 250px;
    height: auto;
  }
  .SVG-Image-Pop-Up {
    width: 170px;
    height: auto;
  }
}
@media only screen and (max-width: 320px) {
  .base {
    grid-template-columns: minmax(10px, 320px);
  }
  .base .Page-Wrapper {
    grid-template-rows: 90px minmax(10px, 1fr) minmax(390px, auto);
  }

  .Quote {
    padding: 10px 10px 10px 45px;
    border-left: 8px solid #711604;
  }
  .Quote::before {
    font-size: 4em;
    left: 10px;
    top: -10px;
  }
  .Quote cite {
    margin-top: 0.5em;
  }

  .icon {
    width: 21px;
    height: 21px;
  }

  .icon-flag {
    width: 21px;
    border: 1px solid #626A66;
  }

  .Icon-Tooltip {
    width: 32px;
    height: 32px;
  }

  .logo-icon {
    width: 56px;
    height: 36px;
  }

  .Main-Page_Horizontal-Image {
    width: 300px;
    height: 170px;
  }

  .Main-Page_Vertical-Image {
    width: 140px;
    height: 280px;
  }

  .categoryImage {
    width: 280px;
    height: 280px;
  }

  .categoryImageContainer {
    width: 280px;
    height: auto;
  }

  .listImage {
    width: 220px;
    height: 220px;
  }

  .Image_200_300 {
    width: 300px;
    height: 380px;
  }

  .listImageContainer {
    width: 220px;
    height: auto;
  }

  .productImage {
    width: 220px;
    height: 220px;
    padding: 4px;
    border-radius: 8px;
    background: #ffffff;
    border: 1px solid #000000;
    transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    -moz-transition: all 0.4s ease-in-out !important;
    -ms-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
  }
  .productImage:hover {
    filter: drop-shadow(0 0 6px #711604);
  }

  .productImageContainer {
    width: 220px;
    height: auto;
  }

  .similarProductImage {
    width: 135px;
    height: 135px;
  }

  .similarProductImageContainer {
    width: 135px;
    height: auto;
  }

  .Image-Width300-Height400 {
    width: 300px;
    height: 400px;
  }

  .Image-400-400 {
    width: 400px;
    height: 400px;
  }

  .SVG-Image {
    width: 250px;
    height: auto;
  }
  .SVG-Image-Pop-Up {
    width: 155px;
    height: auto;
  }
}

/*# sourceMappingURL=App.css.map */
