@import "../../css/base/Extensions";

.Form {
  position: relative;
  row-gap: calc(#{$standard} * 2);
  padding: 10px;

  .Form-B {
    @extend %flex;
    @extend %flex__center;
  }

  .Form-R {
    grid-template-columns: minmax(10px, 1fr);

    &-D {
      @extend %grid;
      grid-template-columns: repeat(2, minmax(10px, 1fr));
      grid-template-rows: minmax(10px, 1fr);
      grid-column-gap: calc(#{$standard} * 4);

      .C-F {
        grid-area: 1/1/2/2;
        grid-template-columns: minmax(10px, 1fr);
      }

      .C-S {
        grid-area: 1/2/2/3;
        grid-template-columns: minmax(10px, 1fr);
      }
    }
  }

  .Form-Ta-R {
    grid-template-columns: minmax(10px, 1fr);
    grid-template-rows: 30px 200px 30px;
  }

  .Form-L {
    grid-area: 1/1/2/2;

    &-E {
      grid-area: 3/1/4/2;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

@include keyframes(success) {
  0% {
    opacity: 0;
    -moz-opacity: 1;
    z-index: 0;
  }
  50% {
    opacity: 1;
    -moz-opacity: 1;
    stroke-dashoffset: 0;
  }
  100% {
    opacity: 0;
    -moz-opacity: 1;
    z-index: 0;
  }
}

@include keyframes(container__success) {
  0% {
    background: none;
  }
  50% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: none;
  }
}

.SVG-С {
  position: absolute;
  top: 0;
  left: 0;
  @include transition(1);
  @include animation(container__success, 400ms, ease-in-out, forwards);
}

.Su-T {
  width: 200px;
  height: 200px;
  border-radius: 50%;

  & > * {
    @include animation(success, 400ms, ease-in-out, forwards);
  }
}

.Su-T__C {
  opacity: 0;
  -moz-opacity: 0;
  stroke-dasharray: 130;
  stroke-dashoffset: 130;
  @include transition(1);
  fill: none;
  stroke: $success-200;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.Su-T__Ch {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
  -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
  -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
  -o-transition: stroke-dashoffset 1s 0.5s ease-out;
  transition: stroke-dashoffset 1s 0.5s ease-out;
  fill: none;
  stroke: $success-200;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

@media only screen and (min-width: 1400px) {
  .Form-R {
    grid-template-rows: 30px 46px 30px;

    &-Double {

      .C-F {
        grid-template-rows: 30px 46px 30px;
      }

      .C-S {
        grid-template-rows: 30px 46px 30px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .Form-R {
    grid-template-rows: 30px 42px 30px;

    &-Double {

      .C-F {
        grid-template-rows: 30px 42px 30px;
      }

      .C-S {
        grid-template-rows: 30px 42px 30px;
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .Form-R {
    grid-template-rows: 30px 40px 30px;

    &-Double {

      .C-F {
        grid-template-rows: 30px 40px 30px;
      }

      .C-S {
        grid-template-rows: 30px 40px 30px;
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .Form-R {
    grid-template-rows: 30px 38px 30px;

    &-Double {

      .C-F {
        grid-template-rows: 30px 38px 30px;
      }

      .C-S {
        grid-template-rows: 30px 38px 30px;
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .Form-R {
    grid-template-rows: 30px 36px 30px;

    &-Double {

      .C-F {
        grid-template-rows: 30px 36px 30px;
      }

      .C-S {
        grid-template-rows: 30px 36px 30px;
      }
    }
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .Form-R {
    grid-template-rows: 30px 34px 30px;

    &-Double {

      .C-F {
        grid-template-rows: 30px 34px 30px;
      }

      .C-S {
        grid-template-rows: 30px 34px 30px;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .Form-R {
    grid-template-rows: 30px 32px 30px;

    &-Double {

      .C-F {
        grid-template-rows: 30px 32px 30px;
      }

      .C-S {
        grid-template-rows: 30px 32px 30px;
      }
    }
  }
}
