@import "../../css/base/Extensions";

.Modal {
  display: flex !important;
  display: -webkit-flex !important;
  display: -moz-flex !important;
  display: -o-flex !important;
  display: -ms-flex !important;
  overflow: hidden !important;
  overflow: -moz-hidden-unscrollable !important;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  @include transition(.4);

  section {
    row-gap: calc(#{$standard} * 3);
  }

  .modal-dialog {
    margin: auto !important;
  }

  .modal-body {
    row-gap: calc(#{$standard} * 8);
  }

  .modal-content {
    @include border-radius(20px);
  }

  .modal-content, .modal-dialog {
    & > * {
      border: none;
    }
  }
}

.Error-Modal {
  .Error {
    color: $error-400;
  }

  .modal-content, .modal-dialog {
    @extend %flex;
    @extend %flex__center;
    @include flex-flow(column nowrap);

    .modal-header {
      margin: 20px 10px 0;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .Modal.Error-Modal, .Modal.Activation {
    .modal-content {
      width: 500px;

      & > * {
        padding-inline: calc(#{$standard} * 4);
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .Modal.Error-Modal, .Modal.Activation {
    .modal-content {
      width: 500px;

      & > * {
        padding-inline: calc(#{$standard} * 3);
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .Modal.Error-Modal, .Modal.Activation {
    .modal-content {
      width: 500px;

      & > * {
        padding-inline: calc(#{$standard} * 2);
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .Modal.Error-Modal, .Modal.Activation {
    .modal-content {
      width: 80vw;

      & > * {
        padding-inline: calc(#{$standard} * 2);
      }
    }
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .Modal.Error-Modal, .Modal.Activation {
    .modal-content {
      width: 80vw;

      & > * {
        padding-inline: $standard
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .Modal.Error-Modal, .Modal.Activation {
    .modal-content {
      width: 80vw;

      & > * {
        padding-inline: $standard
      }
    }
  }
}

@media only screen and (min-height: 620px) {
  .Modal {
    &.Error-Modal {
      .modal-content, .modal-dialog {
        height: 495px;
      }
    }

    &.Activation {
      .modal-content, .modal-dialog {
        height: 600px;
      }
    }
  }
}

@media only screen and (max-height: 620px) {
  .Modal {
    &.Error-Modal {
      .modal-content, .modal-dialog {
        height: 300px;
      }
    }

    &.Activation {
      .modal-content, .modal-dialog {
        height: 300px;
      }
    }
  }
}

@media only screen and (max-height: 400px) {
  .Modal {
    &.Error-Modal {
      .modal-content, .modal-dialog {
        height: 90vh;
      }
    }

    &.Activation {
      .modal-content, .modal-dialog {
        height: 85vh;
      }
    }
  }
}
