.Error-Modal .modal-content, .Error-Modal .modal-dialog {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
}

.Error-Modal .modal-content, .Error-Modal .modal-dialog {
  align-items: center;
  align-items: -moz-center;
  align-items: -webkit-center;
  align-items: -ms-center;
  align-items: -o-center;
  justify-content: center;
  justify-content: -moz-center;
  justify-content: -webkit-center;
  justify-content: -ms-center;
  justify-content: -o-center;
}

.Modal {
  display: flex !important;
  display: -webkit-flex !important;
  display: -moz-flex !important;
  display: -o-flex !important;
  display: -ms-flex !important;
  overflow: hidden !important;
  overflow: -moz-hidden-unscrollable !important;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out !important;
  -webkit-transition: all 0.4s ease-in-out !important;
  -moz-transition: all 0.4s ease-in-out !important;
  -ms-transition: all 0.4s ease-in-out !important;
  -o-transition: all 0.4s ease-in-out !important;
}
.Modal section {
  row-gap: calc(7px * 3);
}
.Modal .modal-dialog {
  margin: auto !important;
}
.Modal .modal-body {
  row-gap: calc(7px * 8);
}
.Modal .modal-content {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
.Modal .modal-content > *, .Modal .modal-dialog > * {
  border: none;
}

.Error-Modal .Error {
  color: #c11c24;
}
.Error-Modal .modal-content, .Error-Modal .modal-dialog {
  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
}
.Error-Modal .modal-content .modal-header, .Error-Modal .modal-dialog .modal-header {
  margin: 20px 10px 0;
}

@media only screen and (min-width: 1200px) {
  .Modal.Error-Modal .modal-content, .Modal.Activation .modal-content {
    width: 500px;
  }
  .Modal.Error-Modal .modal-content > *, .Modal.Activation .modal-content > * {
    padding-inline: calc(7px * 4);
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .Modal.Error-Modal .modal-content, .Modal.Activation .modal-content {
    width: 500px;
  }
  .Modal.Error-Modal .modal-content > *, .Modal.Activation .modal-content > * {
    padding-inline: calc(7px * 3);
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .Modal.Error-Modal .modal-content, .Modal.Activation .modal-content {
    width: 500px;
  }
  .Modal.Error-Modal .modal-content > *, .Modal.Activation .modal-content > * {
    padding-inline: calc(7px * 2);
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .Modal.Error-Modal .modal-content, .Modal.Activation .modal-content {
    width: 80vw;
  }
  .Modal.Error-Modal .modal-content > *, .Modal.Activation .modal-content > * {
    padding-inline: calc(7px * 2);
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .Modal.Error-Modal .modal-content, .Modal.Activation .modal-content {
    width: 80vw;
  }
  .Modal.Error-Modal .modal-content > *, .Modal.Activation .modal-content > * {
    padding-inline: 7px;
  }
}
@media only screen and (max-width: 320px) {
  .Modal.Error-Modal .modal-content, .Modal.Activation .modal-content {
    width: 80vw;
  }
  .Modal.Error-Modal .modal-content > *, .Modal.Activation .modal-content > * {
    padding-inline: 7px;
  }
}
@media only screen and (min-height: 620px) {
  .Modal.Error-Modal .modal-content, .Modal.Error-Modal .modal-dialog {
    height: 495px;
  }
  .Modal.Activation .modal-content, .Modal.Activation .modal-dialog {
    height: 600px;
  }
}
@media only screen and (max-height: 620px) {
  .Modal.Error-Modal .modal-content, .Modal.Error-Modal .modal-dialog {
    height: 300px;
  }
  .Modal.Activation .modal-content, .Modal.Activation .modal-dialog {
    height: 300px;
  }
}
@media only screen and (max-height: 400px) {
  .Modal.Error-Modal .modal-content, .Modal.Error-Modal .modal-dialog {
    height: 90vh;
  }
  .Modal.Activation .modal-content, .Modal.Activation .modal-dialog {
    height: 85vh;
  }
}

/*# sourceMappingURL=Modal.css.map */
