{
    "plugins": ["syntax-dynamic-import"],
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "modules": false
            }
        ]
    ],
    "env": {
        "development": {
            "presets": [["@babel/preset-react", { "development": true }]]
        },
        "production": {
            "plugins": [
                ["transform-react-remove-prop-types", {
                    "mode": "wrap",
                    "ignoreFilenames": ["node_modules"]
                }]
            ]
        }
    }
}
