@import '../../css/base/Extensions';

.Menu {
  top: 0;
  left: 0;
  position: fixed;
  padding-inline: 20px;
  overflow-x: hidden;
  overflow-x: -moz-hidden-unscrollable;
  -ms-overflow-x: hidden;
  z-index: 999;
  @include transition(0.2);
  @include transform-origin(0 0);
  background: $layout-100;
  @include pageMainPartShadow;
  height: 100vh;
  padding-top: 40px;

  &-Item {
    min-height: 0;
    width: 100%;
  }
}

/* Landscape phones and portrait tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .Menu {
    width: 60%;
    padding-inline: calc(#{$standard} * 4);
    padding-bottom: calc(#{$standard} * 6);

    ul {
      row-gap: calc(#{$standard} * 8);
    }

    &-Item > * {
      height: 50px;
    }
  }
}

/* Portrait phones and smaller */
@media only screen and (max-width: 480px) {
  .Menu {
    width: 100%;
    padding-inline: calc(#{$standard} * 2);
    padding-bottom: calc(#{$standard} * 3);

    ul {
      row-gap: calc(#{$standard} * 6);
    }

    &-Item > * {
      height: 40px;
    }
  }
}