.Navbar .Navbar-Bottom .Navbar-RightRow li button, .Navbar .Navbar-Bottom .Navbar-RightRow li a, .Navbar .Navbar-Bottom .Navbar-RightRow ul, .Navbar .Navbar-Bottom .Navbar-LeftRow ul li a, .Navbar .Navbar-Bottom .Navbar-LeftRow ul, .Navbar .Navbar-Top > * {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
}

.Navbar .Navbar-Bottom .Navbar-RightRow li button, .Navbar .Navbar-Bottom .Navbar-RightRow li a, .Navbar .Navbar-Bottom .Navbar-LeftRow ul li a, .Navbar .Navbar-Top > * {
  align-items: center;
  align-items: -moz-center;
  align-items: -webkit-center;
  align-items: -ms-center;
  align-items: -o-center;
  justify-content: center;
  justify-content: -moz-center;
  justify-content: -webkit-center;
  justify-content: -ms-center;
  justify-content: -o-center;
}

.Navbar .Navbar-Bottom, .Navbar .Navbar-Top, .Navbar {
  display: grid;
  display: -webkit-grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -o-grid;
}

.Navbar {
  grid-area: 1/1/2/2;
  grid-template-columns: minmax(10px, 1fr);
  grid-template-rows: 40px 90px;
  z-index: 5;
  top: 0;
  position: sticky;
  color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.Navbar > * {
  padding-inline: calc(7px * 5);
}
.Navbar .Navbar-Top {
  grid-area: 1/1/2/2;
  grid-template-columns: repeat(2, 150px);
  grid-gap: calc(7px * 4);
  background: #2a0800;
}
.Navbar .Navbar-Bottom {
  grid-area: 2/1/3/2;
  grid-template-rows: minmax(10px, 1fr);
  background: #FFE1C2;
}
.Navbar .Navbar-Bottom .Navbar-LeftRow {
  grid-area: 1/1/2/2;
}
.Navbar .Navbar-Bottom .Navbar-LeftRow ul {
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}
.Navbar .Navbar-Bottom .Navbar-RightRow {
  grid-area: 1/3/2/4;
}
.Navbar .Navbar-Bottom .Navbar-RightRow ul {
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  column-gap: calc(7px * 2);
}
.Navbar .Navbar-Bottom .Navbar-RightRow li button, .Navbar .Navbar-Bottom .Navbar-RightRow li a {
  color: #ffffff;
}

/* Large desktops and laptops */
@media only screen and (min-width: 1400px) {
  .Navbar > * {
    padding-inline: calc(7px * 10);
  }

  .Navbar-Bottom {
    grid-template-columns: 620px minmax(10px, 1fr) 240px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .Navbar > * {
    padding-inline: calc(7px * 10);
  }

  .Navbar-Bottom {
    grid-template-columns: 580px minmax(10px, 1fr) 220px;
  }
}
/* Landscape tablets and medium desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .Navbar-Bottom {
    grid-template-columns: 500px minmax(10px, 1fr) 200px;
  }
}
/* Portrait tablets and small desktops */
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .Navbar-Bottom {
    grid-template-columns: 420px minmax(10px, 1fr) 160px;
  }
}
/* Landscape phones and portrait tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .Navbar-Bottom {
    grid-template-columns: 60px minmax(10px, 1fr) 60px;
  }
}
/* Portrait phones and smaller */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .Navbar-Bottom {
    grid-template-columns: 40px minmax(10px, 1fr) 40px;
  }
}
/* Iphone 5 */
@media only screen and (max-width: 320px) {
  .Navbar-Bottom {
    grid-template-columns: 30px minmax(10px, 1fr) 30px;
  }
}

/*# sourceMappingURL=Navbar.css.map */
