@import '../../css/base/Extensions';

.Modal.Catering {
  display: flex !important;

  .modal-body {
    & > p {
      @include columnGap(calc(#{$standard} * 6));
    }

    .Feedbacks {
      row-gap: calc(#{$standard} * 3);
      overflow-y: auto;
      -ms-overflow-y: auto;
    }
  }

  & > * {
    border: none;
  }
}

@media only screen and (min-width: 1200px) {
  .Modal.Catering {
    .modal-content, .modal-dialog {
      width: 600px;
      height: 660px;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .Modal.Catering {
    .modal-content, .modal-dialog {
      width: 70vw;
      height: 70vh;

      .Feedbacks{
        max-height: 300px;
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .Modal.Catering {
    .modal-content, .modal-dialog {
      width: 70vw;
      height: 70vh;

      .Feedbacks{
        max-height: 300px;
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .Modal.Catering {
    .modal-content, .modal-dialog {
      width: 75vw;
      height: 75vh;

      .Feedbacks{
        max-height: 230px;
      }
    }
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .Modal.Catering {
    .modal-content, .modal-dialog {
      width: 90vw;
      height: 70vh;

      .Feedbacks{
        max-height: 200px;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .Modal.Catering {
    .modal-content, .modal-dialog {
      width: 90vw;
      height: 70vh;

      .Feedbacks{
        max-height: 120px;
      }
    }
  }
}