@import '../../css/base/Extensions';

.Modal.Catering {
  .modal-content, .modal-dialog {
    width: 600px;
    height: 660px;

    .modal-body {
      @extend %flex;
      @include align-items(flex-start);
      @include justify-content(space-between);
      @include flex-flow(column nowrap);

      header {
        @extend %flex;
        @include align-items(center);
        @include justify-content(space-between);
        @include flex-flow(row nowrap);
      }

      & > p {
        @extend %flex;
        @include align-items(center);
        @include flex-flow(row nowrap);
        @include columnGap(calc(#{$standard} * 6));
      }

      .Feedbacks {
        @extend %flex;
        @include flex-flow(column nowrap);
        row-gap: 20px;
      }
    }

    & > * {
      border: none;
    }
  }
}