.Homepage .TopBlock .LeftCol .Orders-List.Odd > .Order:nth-of-type(even) > .Orders-Cell, .Homepage .TopBlock .LeftCol .Orders-List.Even > .Order:nth-of-type(odd) > .Orders-Cell {
  background: #FFE1C2;
}
.Homepage .TopBlock .LeftCol .Orders-List.Odd > .Order:nth-of-type(even) > .Orders-Cell:hover, .Homepage .TopBlock .LeftCol .Orders-List.Even > .Order:nth-of-type(odd) > .Orders-Cell:hover {
  color: #ffffff;
  background: #4e2210;
}
.Homepage .TopBlock .LeftCol .Orders-List.Odd > .Order:nth-of-type(even) > .Orders-Cell:active, .Homepage .TopBlock .LeftCol .Orders-List.Even > .Order:nth-of-type(odd) > .Orders-Cell:active {
  color: #000000;
  background: #DC9E6E;
}
.Homepage .TopBlock .LeftCol .Orders-List.Odd > .Order:nth-of-type(even) > .Orders-Cell:focus, .Homepage .TopBlock .LeftCol .Orders-List.Even > .Order:nth-of-type(odd) > .Orders-Cell:focus {
  background: #965430;
}
.Homepage .TopBlock .LeftCol .Orders-List.Odd > .Order:nth-of-type(even) > .Orders-Cell:focus-visible, .Homepage .TopBlock .LeftCol .Orders-List.Even > .Order:nth-of-type(odd) > .Orders-Cell:focus-visible {
  background: #965430;
}
.Homepage .TopBlock .LeftCol .Orders-List.Odd > .Order:nth-of-type(even) > .Orders-Cell:-moz-focusring, .Homepage .TopBlock .LeftCol .Orders-List.Even > .Order:nth-of-type(odd) > .Orders-Cell:-moz-focusring {
  background: #965430;
}
.Homepage .TopBlock .LeftCol .Orders-List.Odd > .Order:nth-of-type(even) > .Orders-Cell:disabled, .Homepage .TopBlock .LeftCol .Orders-List.Even > .Order:nth-of-type(odd) > .Orders-Cell:disabled {
  color: #000000;
  opacity: 0.5;
}

.Homepage .TopBlock .LeftCol .Orders-List.Odd > .Order:nth-of-type(odd) > .Orders-Cell, .Homepage .TopBlock .LeftCol .Orders-List.Even > .Order:nth-of-type(even) > .Orders-Cell {
  background: #f0f0f0;
}
.Homepage .TopBlock .LeftCol .Orders-List.Odd > .Order:nth-of-type(odd) > .Orders-Cell:hover, .Homepage .TopBlock .LeftCol .Orders-List.Even > .Order:nth-of-type(even) > .Orders-Cell:hover {
  color: #ffffff;
  background: #711604;
}
.Homepage .TopBlock .LeftCol .Orders-List.Odd > .Order:nth-of-type(odd) > .Orders-Cell:active, .Homepage .TopBlock .LeftCol .Orders-List.Even > .Order:nth-of-type(even) > .Orders-Cell:active {
  color: #ffffff;
  background: #E74A2B;
}
.Homepage .TopBlock .LeftCol .Orders-List.Odd > .Order:nth-of-type(odd) > .Orders-Cell:focus, .Homepage .TopBlock .LeftCol .Orders-List.Even > .Order:nth-of-type(even) > .Orders-Cell:focus {
  color: #ffffff;
  background: #BD2608;
}
.Homepage .TopBlock .LeftCol .Orders-List.Odd > .Order:nth-of-type(odd) > .Orders-Cell:focus-visible, .Homepage .TopBlock .LeftCol .Orders-List.Even > .Order:nth-of-type(even) > .Orders-Cell:focus-visible {
  color: #ffffff;
  background: #BD2608;
}
.Homepage .TopBlock .LeftCol .Orders-List.Odd > .Order:nth-of-type(odd) > .Orders-Cell:-moz-focusring, .Homepage .TopBlock .LeftCol .Orders-List.Even > .Order:nth-of-type(even) > .Orders-Cell:-moz-focusring {
  color: #ffffff;
  background: #BD2608;
}
.Homepage .TopBlock .LeftCol .Orders-List.Odd > .Order:nth-of-type(odd) > .Orders-Cell:disabled, .Homepage .TopBlock .LeftCol .Orders-List.Even > .Order:nth-of-type(even) > .Orders-Cell:disabled {
  color: #000000;
  opacity: 0.5;
}

.Homepage {
  grid-template-columns: minmax(10px, 1fr);
}
.Homepage .TopBlock {
  grid-area: 1/1/2/2;
}
.Homepage .TopBlock .LeftCol {
  background: #711604;
  overflow-y: auto;
  -ms-overflow-y: auto;
  row-gap: calc(7px * 2);
}
.Homepage .TopBlock .LeftCol header.Flex {
  grid-area: 1/2/2/3;
  color: #ffffff;
  row-gap: calc(7px * 2);
}
.Homepage .TopBlock .LeftCol header.Flex .Form-Row {
  width: 280px;
}
.Homepage .TopBlock .LeftCol header.Flex .Form-Input {
  border-radius: 8px 0 0 8px;
  border: none !important;
}
.Homepage .TopBlock .LeftCol header.Flex .Form-Input::-webkit-search-cancel-button {
  position: relative;
  right: 20px;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: red;
}
.Homepage .TopBlock .LeftCol header.Flex button {
  border-radius: 0 8px 8px 0;
}
.Homepage .TopBlock .LeftCol .Orders-List {
  grid-area: 2/2/3/3;
  border: 6px inset #ffffff;
  background: #fffcf9;
  overflow-y: auto;
  -ms-overflow-y: auto;
}
.Homepage .TopBlock .LeftCol .Orders-List .Orders-Cell, .Homepage .TopBlock .LeftCol .Orders-List .Orders-Header {
  grid-template-rows: minmax(10px, 1fr);
}
.Homepage .TopBlock .LeftCol .Orders-List .Orders-Cell > *, .Homepage .TopBlock .LeftCol .Orders-List .Orders-Header > * {
  border: 1px solid #000000;
  padding: 10px 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.Homepage .TopBlock .LeftCol .Orders-List .Orders-Cell > .Products, .Homepage .TopBlock .LeftCol .Orders-List .Orders-Header > .Products {
  grid-area: 1/2/2/3;
}
.Homepage .TopBlock .LeftCol .Orders-List .Orders-Header span {
  background: #49504C;
  color: #ffffff;
}
.Homepage .TopBlock .RightCol {
  overflow-y: auto;
  -ms-overflow-y: auto;
}
.Homepage .TopBlock .RightCol .Order-Data-Table {
  border: 4px solid #979d9a;
}
.Homepage .TopBlock .RightCol .Order-Data-Table > .OrderDate-Row {
  grid-area: 1/1/2/3;
  border-bottom: 1px solid #979d9a;
}
.Homepage .TopBlock .RightCol .Order-Data-Table > .Products-Column {
  grid-area: 2/1/3/2;
  border-right: 1px solid #979d9a;
  overflow-y: auto;
  -ms-overflow-y: auto;
}
.Homepage .TopBlock .RightCol .Order-Data-Table > .Products-Column > .Products-List {
  grid-area: 2/1/3/2;
}
.Homepage .TopBlock .RightCol .Order-Data-Table > .Comment-Column {
  grid-area: 2/2/3/3;
  padding-bottom: 0;
}
.Homepage .TopBlock .RightCol .Order-Data-Table > .Comment-Column .Order-Comment {
  grid-area: 1/1/2/2;
  overflow-y: auto;
  -ms-overflow-y: auto;
}
.Homepage .TopBlock .RightCol .Order-Data-Table > .Comment-Column .Order-Total {
  grid-area: 2/1/3/2;
  background: #95E8AB;
}
.Homepage .MiddleBlock {
  grid-area: 2/1/3/2;
  background: #f0f0f0;
  z-index: 2;
}
.Homepage .MiddleBlock .LeftCol .Form {
  grid-template-columns: repeat(2, minmax(10px, 1fr));
  grid-template-rows: minmax(10px, 1fr) 100px;
  grid-column-gap: calc(7px * 10);
}
.Homepage .MiddleBlock .LeftCol .Form-Col {
  grid-template-columns: minmax(10px, 1fr);
  grid-template-rows: repeat(2, minmax(10px, 1fr));
}
.Homepage .MiddleBlock .LeftCol .Form-Col.Col-First {
  grid-area: 1/1/2/2;
}
.Homepage .MiddleBlock .LeftCol .Form-Col.Col-Second {
  grid-area: 1/2/2/3;
}
.Homepage .MiddleBlock .LeftCol .Form-Button {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: flex-start;
  -webkit-align-items: flex-start;
}
.Homepage .MiddleBlock .RightCol {
  background: #711604;
}
.Homepage .MiddleBlock .RightCol > .Flex {
  grid-area: 1/2/2/3;
  color: #ffffff;
}
.Homepage .MiddleBlock .RightCol .Addresses-Table {
  grid-area: 2/2/3/3;
  grid-template-columns: minmax(10px, 1fr);
  border: 6px inset #ffffff;
  background: #fffcf9;
  overflow-y: auto;
  -ms-overflow-y: auto;
}
.Homepage .MiddleBlock .RightCol .Addresses-Table.Even .Addresses-Cell:nth-of-type(odd) {
  background: #FFE1C2;
}
.Homepage .MiddleBlock .RightCol .Addresses-Table.Even .Addresses-Cell:nth-of-type(even) {
  background: #fffcf9;
}
.Homepage .MiddleBlock .RightCol .Addresses-Table.Odd .Addresses-Cell:nth-of-type(odd) {
  background: #fffcf9;
}
.Homepage .MiddleBlock .RightCol .Addresses-Table.Odd .Addresses-Cell:nth-of-type(even) {
  background: #FFE1C2;
}
.Homepage .MiddleBlock .RightCol .Addresses-Cell {
  grid-template-columns: minmax(10px, 1fr) 40px;
  grid-template-rows: minmax(10px, 1fr);
  padding: 7px;
}
.Homepage .MiddleBlock .RightCol .Addresses-Cell .Remove-Button {
  grid-area: 1/2/2/3;
  justify-self: flex-end;
}
.Homepage .BottomBlock {
  grid-area: 3/1/4/2;
  column-gap: calc(7px * 10);
  -webkit-column-gap: calc(7px * 10);
  -moz-column-gap: calc(7px * 10);
}
.Homepage .BottomBlock > .Flex {
  row-gap: calc(7px * 10);
}
.Homepage .BottomBlock .carousel-control-next, .Homepage .BottomBlock .carousel-control-prev {
  top: auto;
  bottom: 0;
}
.Homepage .BottomBlock .carousel-indicators {
  display: none;
}
.Homepage .Form {
  row-gap: calc(7px * 5);
}

@media only screen and (min-width: 1200px) {
  .Homepage {
    grid-template-rows: 660px 780px 500px calc(7px * 10);
  }
  .Homepage .TopBlock {
    grid-template-rows: minmax(10px, 1fr);
    grid-template-columns: calc(7px * 10) 350px minmax(10px, 1fr) calc(7px * 10);
  }
  .Homepage .TopBlock .LeftCol {
    grid-area: 1/2/2/3;
    grid-template-rows: calc(calc(7px * 10) * 3) 420px minmax(10px, 1fr);
    grid-template-columns: calc(7px * 2) minmax(10px, 1fr) calc(7px * 2);
  }
  .Homepage .TopBlock .LeftCol .Orders-Cell, .Homepage .TopBlock .LeftCol .Orders-Header {
    grid-template-columns: 110px minmax(10px, 1fr) 60px;
    grid-template-rows: minmax(10px, 1fr);
  }
  .Homepage .TopBlock .RightCol {
    grid-area: 1/3/2/4;
  }
  .Homepage .TopBlock .RightCol .Order-Data-Table {
    grid-template-columns: 200px 340px;
    grid-template-rows: calc(7px * 10) 400px;
    padding: calc(7px * 2);
  }
  .Homepage .TopBlock .RightCol .Order-Data-Table > * {
    padding: 12px;
  }
  .Homepage .TopBlock .RightCol .Order-Data-Table > .Products-Column {
    grid-template-columns: minmax(10px, 1fr);
    grid-template-rows: calc(7px * 10) minmax(10px, 1fr);
  }
  .Homepage .TopBlock .RightCol .Order-Data-Table > .Comment-Column {
    grid-template-columns: minmax(10px, 1fr);
    grid-template-rows: minmax(10px, 1fr) 70px;
  }
  .Homepage .MiddleBlock {
    grid-area: 2/1/3/2;
    grid-template-columns: calc(7px * 10) repeat(2, minmax(10px, 1fr)) calc(7px * 10) minmax(10px, 1fr) calc(7px * 10);
    grid-template-rows: 100px minmax(10px, 1fr);
    background: #f0f0f0;
    z-index: 2;
  }
  .Homepage .MiddleBlock .LeftCol {
    grid-area: 1/2/3/4;
  }
  .Homepage .MiddleBlock .LeftCol .Form {
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    grid-template-rows: minmax(10px, 1fr) 100px;
    grid-column-gap: calc(7px * 10);
  }
  .Homepage .MiddleBlock .LeftCol .Form-Col {
    grid-template-columns: minmax(10px, 1fr);
    grid-template-rows: repeat(2, minmax(10px, 1fr));
  }
  .Homepage .MiddleBlock .LeftCol .Form-Col.Col-First {
    grid-area: 1/1/2/2;
  }
  .Homepage .MiddleBlock .LeftCol .Form-Col.Col-Second {
    grid-area: 1/2/2/3;
  }
  .Homepage .MiddleBlock .LeftCol .Form-Button {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: flex-start;
    -webkit-align-items: flex-start;
  }
  .Homepage .MiddleBlock .RightCol {
    grid-area: 1/5/3/6;
    grid-template-columns: 15px minmax(10px, 1fr) 15px;
    grid-template-rows: minmax(10px, 1fr) 100px 420px minmax(10px, 1fr);
    background: #711604;
  }
  .Homepage .MiddleBlock .RightCol > .Flex {
    grid-area: 2/2/3/3;
    color: #ffffff;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Table {
    grid-area: 3/2/4/3;
    grid-template-columns: minmax(10px, 1fr);
    grid-template-rows: repeat(3, minmax(10px, 1fr));
    border: 6px inset #ffffff;
    background: #fffcf9;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Table.Even .Addresses-Cell:nth-of-type(odd) {
    background: #FFE1C2;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Table.Even .Addresses-Cell:nth-of-type(even) {
    background: #fffcf9;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Table.Odd .Addresses-Cell:nth-of-type(odd) {
    background: #fffcf9;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Table.Odd .Addresses-Cell:nth-of-type(even) {
    background: #FFE1C2;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Cell {
    grid-template-columns: minmax(10px, 1fr) 40px;
    grid-template-rows: minmax(10px, 1fr);
    padding: 10px;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Cell .Remove-Button {
    grid-area: 1/2/2/3;
    justify-self: flex-end;
  }
  .Homepage .BottomBlock {
    padding-inline: calc(7px * 10);
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  .Homepage {
    grid-template-rows: 660px 780px 500px calc(7px * 10);
  }
  .Homepage .TopBlock {
    grid-template-rows: minmax(10px, 1fr);
    grid-template-columns: calc(7px * 7) 350px minmax(10px, 1fr) calc(7px * 7);
  }
  .Homepage .TopBlock .LeftCol {
    grid-area: 1/2/2/3;
    grid-template-rows: calc(calc(7px * 10) * 3) 420px minmax(10px, 1fr);
    grid-template-columns: calc(7px * 2) minmax(10px, 1fr) calc(7px * 2);
  }
  .Homepage .TopBlock .LeftCol .Orders-Cell, .Homepage .TopBlock .LeftCol .Orders-Header {
    grid-template-columns: 110px minmax(10px, 1fr) 60px;
    grid-template-rows: minmax(10px, 1fr);
  }
  .Homepage .TopBlock .RightCol {
    grid-area: 1/3/2/4;
  }
  .Homepage .TopBlock .RightCol .Order-Data-Table {
    grid-template-columns: 150px 240px;
    grid-template-rows: calc(7px * 10) 400px;
    padding: 7px;
  }
  .Homepage .TopBlock .RightCol .Order-Data-Table > * {
    padding: 12px;
  }
  .Homepage .TopBlock .RightCol .Order-Data-Table > .Products-Column {
    grid-template-columns: minmax(10px, 1fr);
    grid-template-rows: calc(7px * 10) minmax(10px, 1fr);
  }
  .Homepage .TopBlock .RightCol .Order-Data-Table > .Comment-Column {
    grid-template-columns: minmax(10px, 1fr);
    grid-template-rows: minmax(10px, 1fr) 70px;
  }
  .Homepage .MiddleBlock {
    grid-area: 2/1/3/2;
    grid-template-columns: calc(7px * 10) repeat(2, minmax(10px, 1fr)) calc(7px * 10) minmax(10px, 1fr) calc(7px * 10);
    grid-template-rows: 100px minmax(10px, 1fr);
    background: #f0f0f0;
    z-index: 2;
  }
  .Homepage .MiddleBlock .LeftCol {
    grid-area: 1/2/3/4;
  }
  .Homepage .MiddleBlock .LeftCol .Form {
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    grid-template-rows: minmax(10px, 1fr) 100px;
    grid-column-gap: calc(7px * 10);
  }
  .Homepage .MiddleBlock .LeftCol .Form-Col {
    grid-template-columns: minmax(10px, 1fr);
    grid-template-rows: repeat(2, minmax(10px, 1fr));
  }
  .Homepage .MiddleBlock .LeftCol .Form-Col.Col-First {
    grid-area: 1/1/2/2;
  }
  .Homepage .MiddleBlock .LeftCol .Form-Col.Col-Second {
    grid-area: 1/2/2/3;
  }
  .Homepage .MiddleBlock .LeftCol .Form-Button {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: flex-start;
    -webkit-align-items: flex-start;
  }
  .Homepage .MiddleBlock .RightCol {
    grid-area: 1/5/3/6;
    grid-template-columns: 15px minmax(10px, 1fr) 15px;
    grid-template-rows: minmax(10px, 1fr) 100px 420px minmax(10px, 1fr);
    background: #711604;
  }
  .Homepage .MiddleBlock .RightCol > .Flex {
    grid-area: 2/2/3/3;
    color: #ffffff;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Table {
    grid-area: 3/2/4/3;
    grid-template-columns: minmax(10px, 1fr);
    grid-template-rows: repeat(3, minmax(10px, 1fr));
    border: 6px inset #ffffff;
    background: #fffcf9;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Table.Even .Addresses-Cell:nth-of-type(odd) {
    background: #FFE1C2;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Table.Even .Addresses-Cell:nth-of-type(even) {
    background: #fffcf9;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Table.Odd .Addresses-Cell:nth-of-type(odd) {
    background: #fffcf9;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Table.Odd .Addresses-Cell:nth-of-type(even) {
    background: #FFE1C2;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Cell {
    grid-template-columns: minmax(10px, 1fr) 40px;
    grid-template-rows: minmax(10px, 1fr);
    padding: 10px;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Cell .Remove-Button {
    grid-area: 1/2/2/3;
    justify-self: flex-end;
  }
  .Homepage .BottomBlock {
    padding-inline: calc(7px * 7);
  }
}
@media only screen and (min-width: 769px) and (max-width: 999px) {
  .Homepage {
    grid-template-rows: 660px 780px 500px calc(7px * 10);
  }
  .Homepage .TopBlock {
    grid-template-rows: minmax(10px, 1fr);
    grid-template-columns: calc(7px * 4) 300px minmax(10px, 1fr) calc(7px * 4);
  }
  .Homepage .TopBlock .LeftCol {
    grid-area: 1/2/2/3;
    grid-template-rows: calc(calc(7px * 10) * 3) 420px minmax(10px, 1fr);
    grid-template-columns: calc(7px * 2) minmax(10px, 1fr) calc(7px * 2);
  }
  .Homepage .TopBlock .LeftCol .Orders-Cell, .Homepage .TopBlock .LeftCol .Orders-Header {
    grid-template-columns: 60px minmax(10px, 1fr) 60px;
    grid-template-rows: minmax(10px, 1fr);
  }
  .Homepage .TopBlock .RightCol {
    grid-area: 1/3/2/4;
  }
  .Homepage .TopBlock .RightCol .Order-Data-Table {
    grid-template-columns: 150px 200px;
    grid-template-rows: calc(7px * 10) 400px;
    padding: 7px;
  }
  .Homepage .TopBlock .RightCol .Order-Data-Table > * {
    padding: 12px;
  }
  .Homepage .TopBlock .RightCol .Order-Data-Table > .Products-Column {
    grid-template-columns: minmax(10px, 1fr);
    grid-template-rows: calc(7px * 10) minmax(10px, 1fr);
  }
  .Homepage .TopBlock .RightCol .Order-Data-Table > .Comment-Column {
    grid-template-columns: minmax(10px, 1fr);
    grid-template-rows: minmax(10px, 1fr) 70px;
  }
  .Homepage .MiddleBlock {
    grid-area: 2/1/3/2;
    grid-template-columns: calc(7px * 10) repeat(2, minmax(10px, 1fr)) calc(7px * 10) minmax(10px, 1fr) calc(7px * 10);
    grid-template-rows: 100px minmax(10px, 1fr);
    background: #f0f0f0;
    z-index: 2;
  }
  .Homepage .MiddleBlock .LeftCol {
    grid-area: 1/2/3/4;
  }
  .Homepage .MiddleBlock .LeftCol .Form {
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    grid-template-rows: minmax(10px, 1fr) 100px;
    grid-column-gap: calc(7px * 10);
  }
  .Homepage .MiddleBlock .LeftCol .Form-Col {
    grid-template-columns: minmax(10px, 1fr);
    grid-template-rows: repeat(2, minmax(10px, 1fr));
  }
  .Homepage .MiddleBlock .LeftCol .Form-Col.Col-First {
    grid-area: 1/1/2/2;
  }
  .Homepage .MiddleBlock .LeftCol .Form-Col.Col-Second {
    grid-area: 1/2/2/3;
  }
  .Homepage .MiddleBlock .LeftCol .Form-Button {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: flex-start;
    -webkit-align-items: flex-start;
  }
  .Homepage .MiddleBlock .RightCol {
    grid-area: 1/5/3/6;
    grid-template-columns: 15px minmax(10px, 1fr) 15px;
    grid-template-rows: minmax(10px, 1fr) 100px 420px minmax(10px, 1fr);
    background: #711604;
  }
  .Homepage .MiddleBlock .RightCol > .Flex {
    grid-area: 2/2/3/3;
    color: #ffffff;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Table {
    grid-area: 3/2/4/3;
    grid-template-columns: minmax(10px, 1fr);
    grid-template-rows: repeat(3, minmax(10px, 1fr));
    border: 6px inset #ffffff;
    background: #fffcf9;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Table.Even .Addresses-Cell:nth-of-type(odd) {
    background: #FFE1C2;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Table.Even .Addresses-Cell:nth-of-type(even) {
    background: #fffcf9;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Table.Odd .Addresses-Cell:nth-of-type(odd) {
    background: #fffcf9;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Table.Odd .Addresses-Cell:nth-of-type(even) {
    background: #FFE1C2;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Cell {
    grid-template-columns: minmax(10px, 1fr) 40px;
    grid-template-rows: minmax(10px, 1fr);
    padding: 10px;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Cell .Remove-Button {
    grid-area: 1/2/2/3;
    justify-self: flex-end;
  }
  .Homepage .BottomBlock {
    padding-inline: calc(7px * 3);
  }
  .Homepage .BottomBlock .carousel {
    height: 350px;
  }
  .Homepage .BottomBlock .carousel .Form {
    width: 400px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .Homepage {
    grid-template-rows: 800px 940px 500px calc(7px * 10);
  }
  .Homepage .TopBlock {
    grid-template-rows: 420px 380px;
    grid-template-columns: minmax(10px, 1fr);
  }
  .Homepage .TopBlock .LeftCol {
    grid-area: 1/1/2/2;
    grid-template-rows: 100px minmax(10px, 1fr);
    grid-template-columns: calc(7px * 2) minmax(10px, 1fr) calc(7px * 2);
    padding-block: 7px;
    background: #2a0800;
  }
  .Homepage .TopBlock .LeftCol header.Flex {
    margin-top: calc(7px * 3);
  }
  .Homepage .TopBlock .LeftCol .Orders-Cell, .Homepage .TopBlock .LeftCol .Orders-Header {
    grid-template-columns: 110px minmax(10px, 1fr) 60px;
    grid-template-rows: minmax(10px, 1fr);
  }
  .Homepage .TopBlock .RightCol {
    grid-area: 2/1/3/2;
  }
  .Homepage .TopBlock .RightCol > div div.Flex {
    padding: calc(7px * 3) 7px;
  }
  .Homepage .TopBlock .RightCol .Order-Data-Table {
    grid-template-columns: minmax(120px, 2fr) minmax(10px, 3fr);
    grid-template-rows: calc(7px * 10) 240px;
    padding: 7px;
  }
  .Homepage .TopBlock .RightCol .Order-Data-Table > * {
    padding: 7px;
  }
  .Homepage .TopBlock .RightCol .Order-Data-Table > .Products-Column {
    grid-template-columns: minmax(10px, 1fr);
    grid-template-rows: calc(7px * 10) minmax(10px, 1fr);
  }
  .Homepage .TopBlock .RightCol .Order-Data-Table > .Comment-Column {
    grid-template-columns: minmax(10px, 1fr);
    grid-template-rows: minmax(10px, 1fr) 40px;
  }
  .Homepage .MiddleBlock {
    grid-template-columns: calc(7px * 3) minmax(10px, 1fr) calc(7px * 3);
    grid-template-rows: repeat(2, minmax(10px, 1fr));
    row-gap: calc(7px * 8);
    padding-block: calc(7px * 6);
  }
  .Homepage .MiddleBlock .LeftCol {
    grid-area: 1/2/2/3;
  }
  .Homepage .MiddleBlock .LeftCol > Form {
    width: 400px;
  }
  .Homepage .MiddleBlock .RightCol {
    grid-area: 2/2/3/3;
    grid-template-columns: calc(7px * 3) minmax(10px, 1fr) calc(7px * 3);
    grid-template-rows: 100px 270px;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Table {
    grid-template-rows: repeat(3, minmax(80px, 1fr));
  }
  .Homepage .BottomBlock {
    padding-inline: calc(7px * 3);
  }
  .Homepage .BottomBlock .carousel {
    height: 350px;
  }
  .Homepage .BottomBlock .carousel .Form {
    width: 400px;
  }
}
@media only screen and (max-width: 480px) {
  .Homepage {
    grid-template-rows: 800px 940px 400px calc(7px * 10);
  }
  .Homepage .TopBlock {
    grid-template-rows: 420px 380px;
    grid-template-columns: minmax(10px, 1fr);
  }
  .Homepage .TopBlock .LeftCol {
    grid-area: 1/1/2/2;
    grid-template-rows: 100px minmax(10px, 1fr);
    grid-template-columns: calc(7px * 2) minmax(10px, 1fr) calc(7px * 2);
    padding-block: 7px;
    background: #2a0800;
  }
  .Homepage .TopBlock .LeftCol header.Flex {
    margin-top: calc(7px * 3);
  }
  .Homepage .TopBlock .LeftCol .Orders-Cell, .Homepage .TopBlock .LeftCol .Orders-Header {
    grid-template-columns: 110px minmax(10px, 1fr) 60px;
    grid-template-rows: minmax(10px, 1fr);
  }
  .Homepage .TopBlock .RightCol {
    grid-area: 2/1/3/2;
  }
  .Homepage .TopBlock .RightCol > div div.Flex {
    padding: calc(7px * 3) 7px;
  }
  .Homepage .TopBlock .RightCol .Order-Data-Table {
    grid-template-columns: minmax(140px, 1fr) minmax(10px, 1fr);
    grid-template-rows: calc(7px * 10) 240px;
    padding: 7px;
  }
  .Homepage .TopBlock .RightCol .Order-Data-Table > * {
    padding: 7px;
  }
  .Homepage .TopBlock .RightCol .Order-Data-Table > .Products-Column {
    grid-template-columns: minmax(10px, 1fr);
    grid-template-rows: calc(7px * 10) minmax(10px, 1fr);
  }
  .Homepage .TopBlock .RightCol .Order-Data-Table > .Comment-Column {
    grid-template-columns: minmax(10px, 1fr);
    grid-template-rows: minmax(10px, 1fr) 40px;
  }
  .Homepage .MiddleBlock {
    grid-template-columns: calc(7px * 2) minmax(10px, 1fr) calc(7px * 2);
    grid-template-rows: repeat(2, minmax(10px, 1fr));
    row-gap: calc(7px * 8);
    padding-block: calc(7px * 6);
  }
  .Homepage .MiddleBlock .LeftCol {
    grid-area: 1/2/2/3;
  }
  .Homepage .MiddleBlock .RightCol {
    grid-area: 2/2/3/3;
    grid-template-columns: calc(7px * 2) minmax(10px, 1fr) calc(7px * 2);
    grid-template-rows: 100px 270px;
  }
  .Homepage .MiddleBlock .RightCol .Addresses-Table {
    grid-template-rows: repeat(3, minmax(140px, 1fr));
  }
  .Homepage .BottomBlock {
    padding-inline: calc(7px * 2);
  }
  .Homepage .BottomBlock .carousel {
    height: 350px;
  }
}

/*# sourceMappingURL=Homepage.css.map */
