@import "../css/base/Extensions";

.Login-Page {
  grid-template-rows: $mainPadding 500px 120px $mainPadding;

  .B-M {
    grid-area: 2/2/3/3;
    grid-template-rows: minmax(10px, 1fr);

    .F-C {
      grid-area: 1/1/2/2;
    }

    .S-C {
      grid-area: 1/2/2/3;
      grid-template-rows: 100px 340px;

      .Lo-H {
        grid-area: 1/2/2/3;
      }

      .Form {
        grid-area: 2/2/3/3;
        grid-template-columns: minmax(10px, 1fr);
        grid-template-rows: repeat(3, 100px);
      }
    }
  }

  .B-B{
    grid-area: 3/2/4/3;
  }
}

@media only screen and (min-width: 1200px) {
  .Login-Page {
    grid-template-columns: $mainPadding minmax(10px, 1fr) $mainPadding;

    .B-M {
      grid-template-columns: 500px minmax(10px, 1fr);

      .S-C {
        grid-template-columns: calc(#{$standard} * 12) minmax(10px, 1fr) calc(#{$standard} * 12);
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .Login-Page {
    grid-template-columns: calc(#{$standard} * 7) minmax(10px, 1fr) calc(#{$standard} * 7);

    .B-M {
      grid-template-columns: 400px minmax(10px, 1fr);

      .S-C {
        grid-template-columns: $mainPadding minmax(10px, 1fr) $mainPadding;
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .Login-Page {
    grid-template-columns: calc(#{$standard} * 4) minmax(10px, 1fr) calc(#{$standard} * 4);

    .B-M {
      grid-template-columns: 300px minmax(10px, 1fr);

      .S-C {
        grid-template-columns: calc(#{$standard} * 7) minmax(10px, 1fr) calc(#{$standard} * 7);
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .Login-Page {
    grid-template-columns: calc(#{$standard} * 3) minmax(10px, 1fr) calc(#{$standard} * 3);

    .B-M {
      grid-template-columns: minmax(10px, 1fr);

      .S-C {
        grid-area: 1/1/2/2;
        grid-template-columns: 15% minmax(10px, 1fr) 15%;
      }
    }
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .Login-Page {
    grid-template-columns: calc(#{$standard} * 2) minmax(10px, 1fr) calc(#{$standard} * 2);

    .B-M {
      grid-template-columns: minmax(10px, 1fr);

      .S-C {
        grid-area: 1/1/2/2;
        grid-template-columns: calc(#{$standard} * 2)  minmax(10px, 1fr) calc(#{$standard} * 2);
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .Login-Page {
    grid-template-columns: calc(#{$standard} * 2) minmax(10px, 1fr) calc(#{$standard} * 2);

    .B-M {
      grid-template-columns: minmax(10px, 1fr);

      .S-C {
        grid-area: 1/1/2/2;
        grid-template-columns: calc(#{$standard} * 2)  minmax(10px, 1fr) calc(#{$standard} * 2) ;
      }
    }
  }
}
