@import "../css/base/Extensions";

.Login-Page {
  @extend %grid;
  grid-template-columns: minmax(10px, 1fr);
  grid-template-rows: $mainPadding 600px 200px $mainPadding;

  .MiddleBlock {
    grid-area: 2/1/3/2;
    @extend %grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    grid-template-rows: minmax(10px, 1fr);

    .LeftRow {
      grid-area: 1/1/2/2;
      @extend %flex;
      @extend %flex__center;

      .Login-Picture {
        grid-area: 1/1/2/2;
        @extend %flex;
        @extend %flex__center;
      }
    }

    .RightRow {
      grid-area: 1/2/2/3;
      @extend %grid;
      grid-template-columns: 120px minmax(10px, 1fr) 120px;
      grid-template-rows: 140px minmax(10px, 1fr);

      .Login-Header {
        grid-area: 1/2/2/3;
        @extend %textCenter;
      }

      .Form {
        grid-area: 2/2/3/3;
        grid-template-columns: minmax(10px, 1fr);
        grid-template-rows: repeat(3, 144px);
      }
    }
  }

  .BottomBlock{
    grid-area: 3/1/4/2;
    @extend %flex;
    @extend %flex__center;
  }
}
