.Form-L-E {
  color: #D0343C;
  font-style: italic;
  text-transform: uppercase;
}

.I-E, .S-E, .Form-I:focus:invalid {
  border-width: 4px;
  padding-block: 8px;
  border-color: #c11c24 !important;
}

.Form-I:focus-visible, .Form-I:-moz-focusring, .Form-I:focus {
  border-width: 4px;
  padding-block: 8px;
  border-color: #DDB814;
}

.Form-I-R.Tel-I > .Sel-Tel-C {
  grid-area: 1/1/2/2;
  border: 1px inset #000000;
  border-radius: 8px 0 0 8px;
}
.Form-I-R.Tel-I > .Form-I {
  grid-area: 1/2/2/3;
  border-left: none;
  border-radius: 0;
}
.Form-I-R.Tel-I > .I-T {
  grid-area: 1/3/2/4;
}

.Form-Ta-R {
  grid-template-rows: 30px 200px;
}
.Form-Ta-R .Ta {
  grid-area: 2/1/3/2;
  min-height: 200px;
  max-height: 200px;
}
.Form-Ta-R .I-T {
  grid-area: 2/2/3/3;
}

.Form-I, .Form-Sel {
  grid-area: 1/1/2/2;
  border: 1px inset #000000;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  color: #000000;
  background: #ffffff;
  border-radius: 8px 0 0 8px;
}
.Form-I:disabled, .Form-Sel:disabled {
  opacity: 0.5;
}

.Form-Sel {
  grid-area: 1/1/2/3;
  border-radius: 8px;
  padding: 8px 2px;
}

.Form-I {
  border-right: none !important;
}
.Form-I:empty:active {
  border-color: #DDB814;
}
.Form-I:valid {
  border-color: #25B84C;
}
.Form-L {
  color: #000000;
  cursor: text;
}
.I-T {
  grid-area: 1/2/2/3;
  border-radius: 0 8px 8px 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}

@media only screen and (min-width: 1400px) {
  .Form-Ta-R {
    grid-template-columns: minmax(10px, 1fr) 46px;
  }

  .Form-I-R {
    grid-template-columns: minmax(10px, 1fr) 46px;
    grid-template-rows: minmax(10px, 46px);
  }
  .Form-I-R.Tel-I {
    grid-template-columns: 60px minmax(10px, 1fr) 46px;
  }

  .Form-I {
    padding: 8px;
  }

  .Form-I, .Form-Sel {
    height: 46px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .Form-Ta-R {
    grid-template-columns: minmax(10px, 1fr) 42px;
  }

  .Form-I-R {
    grid-template-columns: minmax(10px, 1fr) 42px;
    grid-template-rows: minmax(10px, 42px);
  }
  .Form-I-R.Tel-I {
    grid-template-columns: 60px minmax(10px, 1fr) 42px;
  }

  .Form-I {
    padding: 8px 7px;
  }

  .Form-I, .Form-Sel {
    height: 42px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .Form-Ta-R {
    grid-template-columns: minmax(10px, 1fr) 40px;
  }

  .Form-I-R {
    grid-template-columns: minmax(10px, 1fr) 40px;
    grid-template-rows: minmax(10px, 40px);
  }
  .Form-I-R.Tel-I {
    grid-template-columns: 60px minmax(10px, 1fr) 40px;
  }

  .Form-I {
    padding: 8px 6px;
  }

  .Form-I, .Form-Sel {
    height: 40px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .Form-Ta-R {
    grid-template-columns: minmax(10px, 1fr) 38px;
  }

  .Form-I-R {
    grid-template-columns: minmax(10px, 1fr) 38px;
    grid-template-rows: minmax(10px, 38px);
  }
  .Form-I-R.Tel-I {
    grid-template-columns: 60px minmax(10px, 1fr) 38px;
  }

  .Form-I {
    padding: 8px 5px;
  }

  .Form-I, .Form-Sel {
    height: 38px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .Form-Ta-R {
    grid-template-columns: minmax(10px, 1fr) 36px;
  }

  .Form-I-R {
    grid-template-columns: minmax(10px, 1fr) 36px;
    grid-template-rows: minmax(10px, 36px);
  }
  .Form-I-R.Tel-I {
    grid-template-columns: 60px minmax(10px, 1fr) 36px;
  }

  .Form-I {
    padding: 8px 4px;
  }

  .Form-I, .Form-Sel {
    height: 36px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .Form-Ta-R {
    grid-template-columns: minmax(10px, 1fr) 34px;
  }

  .Form-I-R {
    grid-template-columns: minmax(10px, 1fr) 34px;
    grid-template-rows: minmax(10px, 34px);
  }
  .Form-I-R.Tel-I {
    grid-template-columns: 60px minmax(10px, 1fr) 34px;
  }

  .Form-I {
    padding: 8px 3px;
  }

  .Form-I, .Form-Sel {
    height: 34px;
  }
}
@media only screen and (max-width: 320px) {
  .Form-Ta-R {
    grid-template-columns: minmax(10px, 1fr) 32px;
  }

  .Form-I-R {
    grid-template-columns: minmax(10px, 1fr) 32px;
    grid-template-rows: minmax(10px, 32px);
  }
  .Form-I-R.Tel-I {
    grid-template-columns: 60px minmax(10px, 1fr) 32px;
  }

  .Form-I {
    padding: 8px 3px;
  }

  .Form-I, .Form-Sel {
    height: 32px;
  }
}

/*# sourceMappingURL=Input.css.map */
