%flex {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
}

%flex__center {
  align-items: center;
  align-items: -moz-center;
  align-items: -webkit-center;
  align-items: -ms-center;
  align-items: -o-center;
  justify-content: center;
  justify-content: -moz-center;
  justify-content: -webkit-center;
  justify-content: -ms-center;
  justify-content: -o-center;
}

.loading-spinner {
  @extend %flex;
  @extend %flex__center;
  background: #f8f7de;
  margin: 0 260px;
  height: 100vh;
}

.Block-Scrolling {
  overflow-y: hidden;
  overflow-y: -moz-hidden-unscrollable;
}
