.Btn-P, .Btn-S, .Btn-T, .Btn-Su, .Btn-W, .Btn-E {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
}

.Btn-P, .Btn-S, .Btn-T, .Btn-Su, .Btn-W, .Btn-E {
  align-items: center;
  align-items: -moz-center;
  align-items: -webkit-center;
  align-items: -ms-center;
  align-items: -o-center;
  justify-content: center;
  justify-content: -moz-center;
  justify-content: -webkit-center;
  justify-content: -ms-center;
  justify-content: -o-center;
}

button:focus-within, button:focus, button:active {
  outline: none;
}

.Btn-P, .Btn-S, .Btn-T, .Btn-Su, .Btn-W, .Btn-E {
  transition: all 0.6s ease-in-out !important;
  -webkit-transition: all 0.6s ease-in-out !important;
  -moz-transition: all 0.6s ease-in-out !important;
  -ms-transition: all 0.6s ease-in-out !important;
  -o-transition: all 0.6s ease-in-out !important;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  outline: none;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.4);
}
.Btn-P {
  color: #ffffff;
  background: #711604;
}
.Btn-P:hover {
  color: #000000;
  background: #FA5B3D;
}
.Btn-P:active {
  color: #000000;
  background: #ff8771;
}
.Btn-P:focus {
  background: #BD2608;
}
.Btn-P:focus-visible {
  background: #BD2608;
}
.Btn-P:-moz-focusring {
  background: #BD2608;
}
.Btn-P:disabled {
  background: #711604;
  color: #000000;
  opacity: 0.5;
}
.Btn-S {
  color: #000000;
  background: #fffcf9;
  border: 1px solid #2a0800;
}
.Btn-S:hover {
  color: #000000;
  background: #ffcf9c;
}
.Btn-S:active {
  color: #000000;
  background: #eeb785;
}
.Btn-S:focus {
  background: #b96d40;
}
.Btn-S:focus-visible {
  background: #b96d40;
}
.Btn-S:-moz-focusring {
  background: #b96d40;
}
.Btn-S:disabled {
  background: #fffcf9;
  color: #000000;
  opacity: 0.5;
}
.Btn-T {
  color: #ffffff;
  background: #757C78;
}
.Btn-T:hover {
  color: #000000;
  background: #C6C9C7;
}
.Btn-T:active {
  color: #000000;
  background: #DBDDDC;
}
.Btn-T:focus {
  background: #a7aca9;
}
.Btn-T:focus-visible {
  background: #a7aca9;
}
.Btn-T:-moz-focusring {
  background: #a7aca9;
}
.Btn-T:disabled {
  background: #757C78;
  color: #000000;
  opacity: 0.5;
}
.Btn-Su {
  color: #000000;
  background: #25B84C;
}
.Btn-Su:hover {
  background: #5dd07c;
}
.Btn-Su:active {
  background: #95E8AB;
}
.Btn-Su:focus {
  background: #168734;
}
.Btn-Su:focus-visible {
  background: #168734;
}
.Btn-Su:-moz-focusring {
  background: #168734;
}
.Btn-Su:disabled {
  background: #25B84C;
  opacity: 0.5;
}
.Btn-W {
  color: #000000;
  background: #DDB814;
}
.Btn-W:hover {
  color: #000000;
  background: #EEC71C;
}
.Btn-W:active {
  color: #000000;
  background: #F0D458;
}
.Btn-W:focus {
  background: #C8A919;
}
.Btn-W:focus-visible {
  background: #C8A919;
}
.Btn-W:-moz-focusring {
  background: #C8A919;
}
.Btn-W:disabled {
  background: #DDB814;
  opacity: 0.5;
}
.Btn-E {
  color: #ffffff;
  background: #D0343C;
}
.Btn-E:hover {
  color: #000000;
  background: #FA6E75;
}
.Btn-E:active {
  color: #000000;
  background: #FA6E75;
}
.Btn-E:focus {
  background: #c11c24;
  box-shadow: 0 0 4px 8px #4e2210;
  -webkit-box-shadow: 0 0 4px 8px #4e2210;
  -moz-box-shadow: 0 0 4px 8px #4e2210;
  -o-box-shadow: 0 0 4px 8px #4e2210;
}
.Btn-E:focus-visible {
  background: #c11c24;
  box-shadow: 0 0 4px 8px #4e2210;
  -webkit-box-shadow: 0 0 4px 8px #4e2210;
  -moz-box-shadow: 0 0 4px 8px #4e2210;
  -o-box-shadow: 0 0 4px 8px #4e2210;
}
.Btn-E:-moz-focusring {
  background: #c11c24;
  box-shadow: 0 0 4px 8px #4e2210;
  -webkit-box-shadow: 0 0 4px 8px #4e2210;
  -moz-box-shadow: 0 0 4px 8px #4e2210;
  -o-box-shadow: 0 0 4px 8px #4e2210;
}
.Btn-E:disabled {
  background: #D0343C;
  color: #000000;
  opacity: 0.5;
}

@media only screen and (min-width: 1200px) {
  .Btn-I {
    width: 60px;
    height: 60px;
  }
  .Btn-I-F {
    width: 40px;
    height: 40px;
  }
  .Btn-I-D {
    width: 52px;
    height: 52px;
  }
  .Btn-Sm {
    width: 120px;
    height: 60px;
  }
  .Btn-Sm-X-W {
    width: 200px;
    height: 60px;
  }
  .Btn-Sm-A-W {
    height: 60px;
    padding: 10px;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  .Btn-L {
    width: 180px;
    height: 80px;
  }
  .Btn-L-X-W {
    width: 260px;
    height: 80px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .Btn-I {
    width: 57px;
    height: 57px;
  }
  .Btn-I-F {
    width: 38px;
    height: 38px;
  }
  .Btn-I-D {
    width: 49px;
    height: 49px;
  }
  .Btn-Sm {
    width: 114px;
    height: 57px;
  }
  .Btn-Sm-X-W {
    width: 190px;
    height: 57px;
  }
  .Btn-Sm-A-W {
    height: 57px;
    padding: 9px;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  .Btn-L {
    width: 170px;
    height: 76px;
  }
  .Btn-L-X-W {
    width: 245px;
    height: 76px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .Btn-I {
    width: 54px;
    height: 54px;
  }
  .Btn-I-F {
    width: 36px;
    height: 36px;
  }
  .Btn-I-D {
    width: 46px;
    height: 46px;
  }
  .Btn-Sm {
    width: 108px;
    height: 54px;
  }
  .Btn-Sm-X-W {
    width: 180px;
    height: 54px;
  }
  .Btn-Sm-A-W {
    height: 54px;
    padding: 10px;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  .Btn-L {
    width: 160px;
    height: 72px;
  }
  .Btn-L-X-W {
    width: 230px;
    height: 72px;
  }
}
@media only screen and (max-width: 768px) {
  .Btn-I {
    width: 51px;
    height: 51px;
  }
  .Btn-I-F {
    width: 34px;
    height: 34px;
  }
  .Btn-I-D {
    width: 43px;
    height: 43px;
  }
  .Btn-Sm {
    width: 102px;
    height: 51px;
  }
  .Btn-Sm-X-W {
    width: 170px;
    height: 51px;
  }
  .Btn-Sm-A-W {
    height: 51px;
    padding: 7px;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  .Btn-L {
    width: 150px;
    height: 68px;
  }
  .Btn-L-X-W {
    width: 215px;
    height: 68px;
  }
}
@media only screen and (max-width: 480px) {
  .Btn-I {
    width: 48px;
    height: 48px;
  }
  .Btn-I-F {
    width: 32px;
    height: 32px;
  }
  .Btn-I-D {
    width: 40px;
    height: 40px;
  }
  .Btn-Sm {
    width: 96px;
    height: 48px;
  }
  .Btn-Sm-X-W {
    width: 160px;
    height: 48px;
  }
  .Btn-Sm-A-W {
    height: 48px;
    padding: 10px;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  .Btn-L {
    width: 146px;
    height: 64px;
  }
  .Btn-L-X-W {
    width: 200px;
    height: 64px;
  }
}
@media only screen and (max-width: 320px) {
  .Btn-I {
    width: 45px;
    height: 45px;
  }
  .Btn-I-F {
    width: 30px;
    height: 30px;
  }
  .Btn-I-D {
    width: 37px;
    height: 37px;
  }
  .Btn-Sm {
    width: 90px;
    height: 45px;
  }
  .Btn-Sm-X-W {
    width: 150px;
    height: 45px;
  }
  .Btn-Sm-A-W {
    height: 45px;
    padding: 10px;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  .Btn-L {
    width: 130px;
    height: 60px;
  }
  .Btn-L-X-W {
    width: 185px;
    height: 60px;
  }
}

/*# sourceMappingURL=Button.css.map */
