.Contact-Page .dropdown-toggle {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
.Contact-Page .Cell {
  row-gap: calc(7px * 3);
}
.Contact-Page .F-C {
  grid-template-columns: minmax(10px, 1fr);
  row-gap: calc(35px);
}
.Contact-Page .F-C .B-M {
  row-gap: calc(35px);
}
.Contact-Page .S-C {
  grid-area: 1/4/4/5;
  grid-template-columns: calc(35px) minmax(10px, 1fr) calc(35px);
  grid-template-rows: calc(7px * 10) calc(7px * 10) minmax(10px, 1fr);
  background-repeat: repeat;
  row-gap: calc(7px * 5);
}
.Contact-Page .S-C .B-T {
  grid-area: 2/2/3/3;
}
.Contact-Page .S-C .B-M {
  grid-area: 3/2/4/3;
  grid-template-columns: minmax(10px, 1fr);
  grid-template-rows: 201px minmax(10px, 1fr);
  grid-row-gap: calc(7px * 10);
}
.Contact-Page .S-C .B-M .Phones {
  grid-area: 1/1/2/2;
  grid-template-rows: repeat(2, minmax(10px, 1fr));
  grid-template-columns: repeat(2, minmax(10px, 1fr));
  grid-gap: calc(35px);
}
.Contact-Page .S-C .B-M .Locations {
  grid-area: 2/1/3/2;
  grid-template-columns: repeat(2, minmax(10px, 1fr));
  grid-template-rows: 100px minmax(10px, 1fr);
}
.Contact-Page .S-C .B-M .Locations header {
  grid-area: 1/1/2/3;
}
.Contact-Page .S-C .B-M .Locations .Addresses {
  grid-area: 2/1/3/3;
  grid-template-rows: minmax(10px, 1fr);
  grid-template-columns: repeat(2, minmax(10px, 1fr));
  grid-column-gap: calc(35px);
}

@media only screen and (min-width: 1200px) {
  .Contact-Page {
    grid-template-rows: calc(7px * 10) minmax(800px, 1fr) calc(7px * 10);
    grid-template-columns: calc(7px * 10) minmax(10px, 1fr) calc(7px * 10) minmax(10px, 1fr) calc(7px * 10);
  }
  .Contact-Page .F-C {
    grid-area: 1/2/3/3;
    grid-template-rows: calc(7px * 10) calc(7px * 10) minmax(10px, 1fr);
  }
  .Contact-Page .F-C .B-T {
    grid-area: 2/1/3/2;
  }
  .Contact-Page .F-C .B-M {
    grid-area: 3/1/4/3;
  }
  .Contact-Page .S-C {
    grid-area: 1/4/4/5;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .Contact-Page {
    grid-template-rows: calc(7px * 10) minmax(800px, 1fr) calc(7px * 10);
    grid-template-columns: calc(7px * 7) minmax(10px, 1fr) calc(7px * 7) minmax(10px, 1fr) calc(7px * 7);
  }
  .Contact-Page .F-C {
    grid-area: 1/2/3/3;
    grid-template-rows: calc(7px * 10) calc(7px * 10) minmax(10px, 1fr);
  }
  .Contact-Page .F-C .B-T {
    grid-area: 2/1/3/2;
  }
  .Contact-Page .F-C .B-M {
    grid-area: 3/1/4/3;
  }
  .Contact-Page .S-C {
    grid-area: 1/4/4/5;
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .Contact-Page {
    grid-template-rows: calc(7px * 10) minmax(800px, 1fr) calc(7px * 10);
    grid-template-columns: calc(7px * 4) minmax(10px, 1fr) calc(7px * 4) minmax(10px, 1fr) calc(7px * 4);
  }
  .Contact-Page .F-C {
    grid-area: 1/2/3/3;
    grid-template-rows: calc(7px * 10) calc(7px * 10) minmax(10px, 1fr);
  }
  .Contact-Page .F-C .B-T {
    grid-area: 2/1/3/2;
  }
  .Contact-Page .F-C .B-M {
    grid-area: 3/1/4/3;
  }
  .Contact-Page .S-C {
    grid-area: 1/4/4/5;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .Contact-Page {
    grid-template-rows: 7px 840px 920px calc(7px * 10);
    grid-template-columns: calc(7px * 3) minmax(10px, 1fr) calc(7px * 3);
    row-gap: calc(7px * 10);
  }
  .Contact-Page .Form {
    padding-inline: 10%;
  }
  .Contact-Page .F-C {
    grid-area: 2/2/3/3;
    grid-template-rows: calc(7px * 10) minmax(10px, 1fr);
  }
  .Contact-Page .F-C .B-T {
    grid-area: 1/1/2/2;
  }
  .Contact-Page .F-C .B-M {
    grid-area: 2/1/3/3;
  }
  .Contact-Page .S-C {
    grid-area: 3/2/4/3;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .Contact-Page {
    grid-template-rows: 7px 740px 920px calc(7px * 10);
    grid-template-columns: calc(7px * 3) minmax(10px, 1fr) calc(7px * 3);
    row-gap: calc(7px * 10);
  }
  .Contact-Page .F-C {
    grid-area: 2/2/3/3;
    grid-template-rows: calc(7px * 10) minmax(10px, 1fr);
  }
  .Contact-Page .F-C .B-T {
    grid-area: 1/1/2/2;
  }
  .Contact-Page .F-C .B-M {
    grid-area: 2/1/3/3;
  }
  .Contact-Page .S-C {
    grid-area: 3/2/4/3;
  }
}
@media only screen and (max-width: 320px) {
  .Contact-Page {
    grid-template-rows: 7px 740px 960px calc(7px * 10);
    grid-template-columns: calc(7px * 3) minmax(10px, 1fr) calc(7px * 3);
    row-gap: calc(7px * 10);
  }
  .Contact-Page .F-C {
    grid-area: 2/2/3/3;
    grid-template-rows: calc(7px * 10) minmax(10px, 1fr);
  }
  .Contact-Page .F-C .B-T {
    grid-area: 1/1/2/2;
  }
  .Contact-Page .F-C .B-M {
    grid-area: 2/1/3/3;
  }
  .Contact-Page .S-C {
    grid-area: 3/2/4/3;
  }
}

/*# sourceMappingURL=ContactUs.css.map */
