@import "../css/base/Extensions";

.Contact-Page {
  .Cell {
    row-gap: calc(#{$standard} * 3);
  }

  .F-C {
    grid-template-columns: minmax(10px, 1fr);
    row-gap: calc(#{$standard * 5});

    .B-M {
      row-gap: calc(#{$standard * 5});
    }
  }

  .S-C {
    grid-area: 1/4/4/5;
    grid-template-columns: calc(#{$standard * 5}) minmax(10px, 1fr) calc(#{$standard * 5});
    grid-template-rows: $mainPadding $mainPadding minmax(10px, 1fr);
    background-repeat: repeat;
    row-gap: calc(#{$standard} * 5);

    .B-T {
      grid-area: 2/2/3/3;
    }

    .B-M {
      grid-area: 3/2/4/3;
      grid-template-columns: minmax(10px, 1fr);
      grid-template-rows: 201px minmax(10px, 1fr);
      grid-row-gap: $mainPadding;

      .Phones {
        grid-area: 1/1/2/2;
        grid-template-rows: repeat(2, minmax(10px, 1fr));
        grid-template-columns: repeat(2, minmax(10px, 1fr));
        grid-gap: calc(#{$standard * 5});
      }

      .Locations {
        grid-area: 2/1/3/2;
        grid-template-columns: repeat(2, minmax(10px, 1fr));
        grid-template-rows: 100px minmax(10px, 1fr);

        header {
          grid-area: 1/1/2/3;
        }

        .Addresses {
          grid-area: 2/1/3/3;
          grid-template-rows: minmax(10px, 1fr);
          grid-template-columns: repeat(2, minmax(10px, 1fr));
          grid-column-gap: calc(#{$standard * 5});
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .Contact-Page {
    grid-template-rows: $mainPadding minmax(800px, 1fr) $mainPadding;
    grid-template-columns: $mainPadding minmax(10px, 1fr) $mainPadding minmax(10px, 1fr) $mainPadding;

    .F-C {
      grid-area: 1/2/3/3;
      grid-template-rows: $mainPadding $mainPadding minmax(10px, 1fr);

      .B-T {
        grid-area: 2/1/3/2;
      }

      .B-M {
        grid-area: 3/1/4/3;
      }
    }

    .S-C {
      grid-area: 1/4/4/5;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .Contact-Page {
    grid-template-rows: $mainPadding minmax(800px, 1fr) $mainPadding;
    grid-template-columns: calc(#{$standard} * 7) minmax(10px, 1fr) calc(#{$standard} * 7) minmax(10px, 1fr) calc(#{$standard} * 7);

    .F-C {
      grid-area: 1/2/3/3;
      grid-template-rows: $mainPadding $mainPadding minmax(10px, 1fr);

      .B-T {
        grid-area: 2/1/3/2;
      }

      .B-M {
        grid-area: 3/1/4/3;
      }
    }

    .S-C {
      grid-area: 1/4/4/5;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .Contact-Page {
    grid-template-rows: $mainPadding minmax(800px, 1fr) $mainPadding;
    grid-template-columns: calc(#{$standard} * 4) minmax(10px, 1fr) calc(#{$standard} * 4) minmax(10px, 1fr) calc(#{$standard} * 4);

    .F-C {
      grid-area: 1/2/3/3;
      grid-template-rows: $mainPadding $mainPadding minmax(10px, 1fr);

      .B-T {
        grid-area: 2/1/3/2;
      }

      .B-M {
        grid-area: 3/1/4/3;
      }
    }

    .S-C {
      grid-area: 1/4/4/5;
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .Contact-Page {
    grid-template-rows: $standard 840px 920px $mainPadding;
    grid-template-columns: calc(#{$standard} * 3) minmax(10px, 1fr) calc(#{$standard} * 3);
    row-gap: $mainPadding;

    .Form {
      padding-inline: 10%;
    }

    .F-C {
      grid-area: 2/2/3/3;
      grid-template-rows: $mainPadding minmax(10px, 1fr);

      .B-T {
        grid-area: 1/1/2/2;
      }

      .B-M {
        grid-area: 2/1/3/3;
      }
    }

    .S-C {
      grid-area: 3/2/4/3;
    }
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .Contact-Page {
    grid-template-rows: $standard 740px 920px $mainPadding;
    grid-template-columns: calc(#{$standard} * 3) minmax(10px, 1fr) calc(#{$standard} * 3);
    row-gap: $mainPadding;

    .F-C {
      grid-area: 2/2/3/3;
      grid-template-rows: $mainPadding minmax(10px, 1fr);

      .B-T {
        grid-area: 1/1/2/2;
      }

      .B-M {
        grid-area: 2/1/3/3;
      }
    }

    .S-C {
      grid-area: 3/2/4/3;
    }
  }
}

@media only screen and (max-width: 320px) {
  .Contact-Page {
    grid-template-rows: $standard 740px 960px $mainPadding;
    grid-template-columns: calc(#{$standard} * 3) minmax(10px, 1fr) calc(#{$standard} * 3);
    row-gap: $mainPadding;

    .F-C {
      grid-area: 2/2/3/3;
      grid-template-rows: $mainPadding minmax(10px, 1fr);

      .B-T {
        grid-area: 1/1/2/2;
      }

      .B-M {
        grid-area: 2/1/3/3;
      }
    }

    .S-C {
      grid-area: 3/2/4/3;
    }
  }
}
