.Load-Ov-C .Sp p, .Load-Ov-C .Sp span, .Load-Ov-C .Sp h1, .Load-Ov-C .Sp h2, .Load-Ov-C .Sp h3, .Load-Ov-C .Sp h4, .Load-Ov-C .Sp h5, .Load-Ov-C .Sp h6 {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  text-align: -ms-center;
  text-align: -o-center;
}

.Ov-Show {
  transition: all 1s ease-in-out !important;
  -webkit-transition: all 1s ease-in-out !important;
  -moz-transition: all 1s ease-in-out !important;
  -ms-transition: all 1s ease-in-out !important;
  -o-transition: all 1s ease-in-out !important;
  animation: 300ms fadeIn forwards;
  animation: fadeIn 300ms ease-in-out forwards;
  -webkit-animation: fadeIn 300ms ease-in-out forwards;
  -moz-animation: fadeIn 300ms ease-in-out forwards;
  -o-animation: fadeIn 300ms ease-in-out forwards;
}

.Ov-Hide {
  transition: all 0.8s ease-in-out !important;
  -webkit-transition: all 0.8s ease-in-out !important;
  -moz-transition: all 0.8s ease-in-out !important;
  -ms-transition: all 0.8s ease-in-out !important;
  -o-transition: all 0.8s ease-in-out !important;
  animation: fadeOut 800ms ease-in-out forwards;
  -webkit-animation: fadeOut 800ms ease-in-out forwards;
  -moz-animation: fadeOut 800ms ease-in-out forwards;
  -o-animation: fadeOut 800ms ease-in-out forwards;
}

.Load-Ov-C {
  position: relative;
}
.Load-Ov-C .Sp {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 1.2em;
  color: #FFF;
  background: rgba(0, 0, 0, 0.7);
  z-index: 4;
}
.Load-Ov-C .Sp p, .Load-Ov-C .Sp span, .Load-Ov-C .Sp h1, .Load-Ov-C .Sp h2, .Load-Ov-C .Sp h3, .Load-Ov-C .Sp h4, .Load-Ov-C .Sp h5, .Load-Ov-C .Sp h6 {
  color: #ffffff !important;
  margin: 1rem;
}
.Load-Ov-C .Sp svg.sp {
  width: 86px;
  height: 86px;
  x: 0px;
  y: 0px;
  viewBox: 0 0 86 86;
}
.Load-Ov-C .Sp svg.sp circle {
  fill: transparent;
  stroke: #fff;
  stroke-width: 9;
  stroke-linecap: round;
  stroke-dasharray: 270.04;
  transform-origin: 43px 43px 0;
  -webkit-transform-origin: 43px 43px 0;
  -moz-transform-origin: 43px 43px 0;
  -o-transform-origin: 43px 43px 0;
  -ms-transform-origin: 43px 43px 0;
  animation: spinner 2000ms linear infinite;
  -webkit-animation: spinner 2000ms linear infinite;
  -moz-animation: spinner 2000ms linear infinite;
  -o-animation: spinner 2000ms linear infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  10% {
    opacity: 0.1;
    visibility: visible;
  }
  20% {
    opacity: 0.2;
    visibility: visible;
  }
  30% {
    opacity: 0.3;
    visibility: visible;
  }
  40% {
    opacity: 0.4;
    visibility: visible;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
  }
  60% {
    opacity: 0.6;
    visibility: visible;
  }
  70% {
    opacity: 0.7;
    visibility: visible;
  }
  80% {
    opacity: 0.8;
    visibility: visible;
  }
  90% {
    opacity: 0.9;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  10% {
    opacity: 0.1;
    visibility: visible;
  }
  20% {
    opacity: 0.2;
    visibility: visible;
  }
  30% {
    opacity: 0.3;
    visibility: visible;
  }
  40% {
    opacity: 0.4;
    visibility: visible;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
  }
  60% {
    opacity: 0.6;
    visibility: visible;
  }
  70% {
    opacity: 0.7;
    visibility: visible;
  }
  80% {
    opacity: 0.8;
    visibility: visible;
  }
  90% {
    opacity: 0.9;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  10% {
    opacity: 0.1;
    visibility: visible;
  }
  20% {
    opacity: 0.2;
    visibility: visible;
  }
  30% {
    opacity: 0.3;
    visibility: visible;
  }
  40% {
    opacity: 0.4;
    visibility: visible;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
  }
  60% {
    opacity: 0.6;
    visibility: visible;
  }
  70% {
    opacity: 0.7;
    visibility: visible;
  }
  80% {
    opacity: 0.8;
    visibility: visible;
  }
  90% {
    opacity: 0.9;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  10% {
    opacity: 0.1;
    visibility: visible;
  }
  20% {
    opacity: 0.2;
    visibility: visible;
  }
  30% {
    opacity: 0.3;
    visibility: visible;
  }
  40% {
    opacity: 0.4;
    visibility: visible;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
  }
  60% {
    opacity: 0.6;
    visibility: visible;
  }
  70% {
    opacity: 0.7;
    visibility: visible;
  }
  80% {
    opacity: 0.8;
    visibility: visible;
  }
  90% {
    opacity: 0.9;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  10% {
    opacity: 0.1;
    visibility: visible;
  }
  20% {
    opacity: 0.2;
    visibility: visible;
  }
  30% {
    opacity: 0.3;
    visibility: visible;
  }
  40% {
    opacity: 0.4;
    visibility: visible;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
  }
  60% {
    opacity: 0.6;
    visibility: visible;
  }
  70% {
    opacity: 0.7;
    visibility: visible;
  }
  80% {
    opacity: 0.8;
    visibility: visible;
  }
  90% {
    opacity: 0.9;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@-khtml-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  10% {
    opacity: 0.1;
    visibility: visible;
  }
  20% {
    opacity: 0.2;
    visibility: visible;
  }
  30% {
    opacity: 0.3;
    visibility: visible;
  }
  40% {
    opacity: 0.4;
    visibility: visible;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
  }
  60% {
    opacity: 0.6;
    visibility: visible;
  }
  70% {
    opacity: 0.7;
    visibility: visible;
  }
  80% {
    opacity: 0.8;
    visibility: visible;
  }
  90% {
    opacity: 0.9;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  10% {
    opacity: 0.9;
    visibility: visible;
  }
  20% {
    opacity: 0.8;
    visibility: visible;
  }
  30% {
    opacity: 0.7;
    visibility: visible;
  }
  40% {
    opacity: 0.6;
    visibility: visible;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
  }
  60% {
    opacity: 0.4;
    visibility: visible;
  }
  70% {
    opacity: 0.3;
    visibility: visible;
  }
  80% {
    opacity: 0.2;
    visibility: visible;
  }
  90% {
    opacity: 0.1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  10% {
    opacity: 0.9;
    visibility: visible;
  }
  20% {
    opacity: 0.8;
    visibility: visible;
  }
  30% {
    opacity: 0.7;
    visibility: visible;
  }
  40% {
    opacity: 0.6;
    visibility: visible;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
  }
  60% {
    opacity: 0.4;
    visibility: visible;
  }
  70% {
    opacity: 0.3;
    visibility: visible;
  }
  80% {
    opacity: 0.2;
    visibility: visible;
  }
  90% {
    opacity: 0.1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  10% {
    opacity: 0.9;
    visibility: visible;
  }
  20% {
    opacity: 0.8;
    visibility: visible;
  }
  30% {
    opacity: 0.7;
    visibility: visible;
  }
  40% {
    opacity: 0.6;
    visibility: visible;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
  }
  60% {
    opacity: 0.4;
    visibility: visible;
  }
  70% {
    opacity: 0.3;
    visibility: visible;
  }
  80% {
    opacity: 0.2;
    visibility: visible;
  }
  90% {
    opacity: 0.1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  10% {
    opacity: 0.9;
    visibility: visible;
  }
  20% {
    opacity: 0.8;
    visibility: visible;
  }
  30% {
    opacity: 0.7;
    visibility: visible;
  }
  40% {
    opacity: 0.6;
    visibility: visible;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
  }
  60% {
    opacity: 0.4;
    visibility: visible;
  }
  70% {
    opacity: 0.3;
    visibility: visible;
  }
  80% {
    opacity: 0.2;
    visibility: visible;
  }
  90% {
    opacity: 0.1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  10% {
    opacity: 0.9;
    visibility: visible;
  }
  20% {
    opacity: 0.8;
    visibility: visible;
  }
  30% {
    opacity: 0.7;
    visibility: visible;
  }
  40% {
    opacity: 0.6;
    visibility: visible;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
  }
  60% {
    opacity: 0.4;
    visibility: visible;
  }
  70% {
    opacity: 0.3;
    visibility: visible;
  }
  80% {
    opacity: 0.2;
    visibility: visible;
  }
  90% {
    opacity: 0.1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-khtml-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  10% {
    opacity: 0.9;
    visibility: visible;
  }
  20% {
    opacity: 0.8;
    visibility: visible;
  }
  30% {
    opacity: 0.7;
    visibility: visible;
  }
  40% {
    opacity: 0.6;
    visibility: visible;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
  }
  60% {
    opacity: 0.4;
    visibility: visible;
  }
  70% {
    opacity: 0.3;
    visibility: visible;
  }
  80% {
    opacity: 0.2;
    visibility: visible;
  }
  90% {
    opacity: 0.1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
    stroke-dashoffset: 56.76;
  }
  50% {
    transform: rotate(720deg);
    stroke-dashoffset: 270.04;
  }
  100% {
    transform: rotate(1080deg);
    stroke-dashoffset: 56.76;
  }
}
@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg);
    stroke-dashoffset: 56.76;
  }
  50% {
    transform: rotate(720deg);
    stroke-dashoffset: 270.04;
  }
  100% {
    transform: rotate(1080deg);
    stroke-dashoffset: 56.76;
  }
}
@-moz-keyframes spinner {
  0% {
    transform: rotate(0deg);
    stroke-dashoffset: 56.76;
  }
  50% {
    transform: rotate(720deg);
    stroke-dashoffset: 270.04;
  }
  100% {
    transform: rotate(1080deg);
    stroke-dashoffset: 56.76;
  }
}
@-o-keyframes spinner {
  0% {
    transform: rotate(0deg);
    stroke-dashoffset: 56.76;
  }
  50% {
    transform: rotate(720deg);
    stroke-dashoffset: 270.04;
  }
  100% {
    transform: rotate(1080deg);
    stroke-dashoffset: 56.76;
  }
}
@-ms-keyframes spinner {
  0% {
    transform: rotate(0deg);
    stroke-dashoffset: 56.76;
  }
  50% {
    transform: rotate(720deg);
    stroke-dashoffset: 270.04;
  }
  100% {
    transform: rotate(1080deg);
    stroke-dashoffset: 56.76;
  }
}
@-khtml-keyframes spinner {
  0% {
    transform: rotate(0deg);
    stroke-dashoffset: 56.76;
  }
  50% {
    transform: rotate(720deg);
    stroke-dashoffset: 270.04;
  }
  100% {
    transform: rotate(1080deg);
    stroke-dashoffset: 56.76;
  }
}

/*# sourceMappingURL=LoadingOverlay.css.map */
