.Bounce {
  transition: all 0.6s ease-in-out !important;
  -webkit-transition: all 0.6s ease-in-out !important;
  -moz-transition: all 0.6s ease-in-out !important;
  -ms-transition: all 0.6s ease-in-out !important;
  -o-transition: all 0.6s ease-in-out !important;
  animation: bounce 600ms ease-in-out forwards;
  -webkit-animation: bounce 600ms ease-in-out forwards;
  -moz-animation: bounce 600ms ease-in-out forwards;
  -o-animation: bounce 600ms ease-in-out forwards;
}
.Bounce.Infinite {
  animation: bounce 600ms ease-in-out infinite;
  -webkit-animation: bounce 600ms ease-in-out infinite;
  -moz-animation: bounce 600ms ease-in-out infinite;
  -o-animation: bounce 600ms ease-in-out infinite;
}

.Error-Shake {
  transition: all 0.6s ease-in-out !important;
  -webkit-transition: all 0.6s ease-in-out !important;
  -moz-transition: all 0.6s ease-in-out !important;
  -ms-transition: all 0.6s ease-in-out !important;
  -o-transition: all 0.6s ease-in-out !important;
  animation: error-shake 600ms ease-in-out forwards;
  -webkit-animation: error-shake 600ms ease-in-out forwards;
  -moz-animation: error-shake 600ms ease-in-out forwards;
  -o-animation: error-shake 600ms ease-in-out forwards;
}
.Error-Shake.Infinite {
  animation: error-shake 600ms ease-in-out infinite;
  -webkit-animation: error-shake 600ms ease-in-out infinite;
  -moz-animation: error-shake 600ms ease-in-out infinite;
  -o-animation: error-shake 600ms ease-in-out infinite;
}

.Pop {
  transition: all 0.6s ease-in-out !important;
  -webkit-transition: all 0.6s ease-in-out !important;
  -moz-transition: all 0.6s ease-in-out !important;
  -ms-transition: all 0.6s ease-in-out !important;
  -o-transition: all 0.6s ease-in-out !important;
  animation: pop 600ms ease-in-out forwards;
  -webkit-animation: pop 600ms ease-in-out forwards;
  -moz-animation: pop 600ms ease-in-out forwards;
  -o-animation: pop 600ms ease-in-out forwards;
}
.Pop.Infinite {
  animation: pop 600ms ease-in-out infinite;
  -webkit-animation: pop 600ms ease-in-out infinite;
  -moz-animation: pop 600ms ease-in-out infinite;
  -o-animation: pop 600ms ease-in-out infinite;
}

.Pop-On-The-Top {
  transition: all 0.6s ease-in-out !important;
  -webkit-transition: all 0.6s ease-in-out !important;
  -moz-transition: all 0.6s ease-in-out !important;
  -ms-transition: all 0.6s ease-in-out !important;
  -o-transition: all 0.6s ease-in-out !important;
  animation: pop-on-the-top 600ms ease-in-out forwards;
  -webkit-animation: pop-on-the-top 600ms ease-in-out forwards;
  -moz-animation: pop-on-the-top 600ms ease-in-out forwards;
  -o-animation: pop-on-the-top 600ms ease-in-out forwards;
}
.Pop-On-The-Top.Infinite {
  animation: pop-on-the-top 600ms ease-in-out infinite;
  -webkit-animation: pop-on-the-top 600ms ease-in-out infinite;
  -moz-animation: pop-on-the-top 600ms ease-in-out infinite;
  -o-animation: pop-on-the-top 600ms ease-in-out infinite;
}

.Pulsate {
  transition: all 0.6s ease-in-out !important;
  -webkit-transition: all 0.6s ease-in-out !important;
  -moz-transition: all 0.6s ease-in-out !important;
  -ms-transition: all 0.6s ease-in-out !important;
  -o-transition: all 0.6s ease-in-out !important;
  animation: pulsate 600ms ease-in-out forwards;
  -webkit-animation: pulsate 600ms ease-in-out forwards;
  -moz-animation: pulsate 600ms ease-in-out forwards;
  -o-animation: pulsate 600ms ease-in-out forwards;
}
.Pulsate.Infinite {
  animation: pulsate 600ms ease-in-out infinite;
  -webkit-animation: pulsate 600ms ease-in-out infinite;
  -moz-animation: pulsate 600ms ease-in-out infinite;
  -o-animation: pulsate 600ms ease-in-out infinite;
}

.Rotate-360 {
  transition: all 0.6s ease-in-out !important;
  -webkit-transition: all 0.6s ease-in-out !important;
  -moz-transition: all 0.6s ease-in-out !important;
  -ms-transition: all 0.6s ease-in-out !important;
  -o-transition: all 0.6s ease-in-out !important;
  animation: rotate-360 600ms ease-in-out forwards;
  -webkit-animation: rotate-360 600ms ease-in-out forwards;
  -moz-animation: rotate-360 600ms ease-in-out forwards;
  -o-animation: rotate-360 600ms ease-in-out forwards;
}
.Rotate-360.Infinite {
  animation: rotate-360 600ms ease-in-out infinite;
  -webkit-animation: rotate-360 600ms ease-in-out infinite;
  -moz-animation: rotate-360 600ms ease-in-out infinite;
  -o-animation: rotate-360 600ms ease-in-out infinite;
}

.Rubber {
  transition: all 0.6s ease-in-out !important;
  -webkit-transition: all 0.6s ease-in-out !important;
  -moz-transition: all 0.6s ease-in-out !important;
  -ms-transition: all 0.6s ease-in-out !important;
  -o-transition: all 0.6s ease-in-out !important;
  animation: rubber 600ms ease-in-out forwards;
  -webkit-animation: rubber 600ms ease-in-out forwards;
  -moz-animation: rubber 600ms ease-in-out forwards;
  -o-animation: rubber 600ms ease-in-out forwards;
}
.Rubber.Infinite {
  animation: rubber 600ms ease-in-out infinite;
  -webkit-animation: rubber 600ms ease-in-out infinite;
  -moz-animation: rubber 600ms ease-in-out infinite;
  -o-animation: rubber 600ms ease-in-out infinite;
}

.Skew {
  transition: all 0.6s ease-in-out !important;
  -webkit-transition: all 0.6s ease-in-out !important;
  -moz-transition: all 0.6s ease-in-out !important;
  -ms-transition: all 0.6s ease-in-out !important;
  -o-transition: all 0.6s ease-in-out !important;
  animation: skew 600ms ease-in-out forwards;
  -webkit-animation: skew 600ms ease-in-out forwards;
  -moz-animation: skew 600ms ease-in-out forwards;
  -o-animation: skew 600ms ease-in-out forwards;
}
.Skew.Infinite {
  animation: skew 600ms ease-in-out infinite;
  -webkit-animation: skew 600ms ease-in-out infinite;
  -moz-animation: skew 600ms ease-in-out infinite;
  -o-animation: skew 600ms ease-in-out infinite;
}

.Wiggle {
  transition: all 0.6s ease-in-out !important;
  -webkit-transition: all 0.6s ease-in-out !important;
  -moz-transition: all 0.6s ease-in-out !important;
  -ms-transition: all 0.6s ease-in-out !important;
  -o-transition: all 0.6s ease-in-out !important;
  animation: wiggle 600ms ease-in-out forwards;
  -webkit-animation: wiggle 600ms ease-in-out forwards;
  -moz-animation: wiggle 600ms ease-in-out forwards;
  -o-animation: wiggle 600ms ease-in-out forwards;
}
.Wiggle.Infinite {
  animation: wiggle 600ms ease-in-out infinite;
  -webkit-animation: wiggle 600ms ease-in-out infinite;
  -moz-animation: wiggle 600ms ease-in-out infinite;
  -o-animation: wiggle 600ms ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
@-ms-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
@-khtml-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes error-shake {
  0% {
    transform: translate3d(0px, 0px, 0px);
    background: #D0343C;
  }
  16% {
    transform: translate3d(-15px, 0px, 0px);
    background: #D0343C;
  }
  33% {
    transform: translate3d(0px, 0px, 0px);
    background: #D0343C;
  }
  50% {
    transform: translate3d(15px, 0px, 0px);
    background: #D0343C;
  }
  67% {
    transform: translate3d(0px, 0px, 0px);
    background: #D0343C;
  }
  83% {
    transform: translate3d(-15px, 0px, 0px);
    background: #D0343C;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
@-webkit-keyframes error-shake {
  0% {
    transform: translate3d(0px, 0px, 0px);
    background: #D0343C;
  }
  16% {
    transform: translate3d(-15px, 0px, 0px);
    background: #D0343C;
  }
  33% {
    transform: translate3d(0px, 0px, 0px);
    background: #D0343C;
  }
  50% {
    transform: translate3d(15px, 0px, 0px);
    background: #D0343C;
  }
  67% {
    transform: translate3d(0px, 0px, 0px);
    background: #D0343C;
  }
  83% {
    transform: translate3d(-15px, 0px, 0px);
    background: #D0343C;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
@-moz-keyframes error-shake {
  0% {
    transform: translate3d(0px, 0px, 0px);
    background: #D0343C;
  }
  16% {
    transform: translate3d(-15px, 0px, 0px);
    background: #D0343C;
  }
  33% {
    transform: translate3d(0px, 0px, 0px);
    background: #D0343C;
  }
  50% {
    transform: translate3d(15px, 0px, 0px);
    background: #D0343C;
  }
  67% {
    transform: translate3d(0px, 0px, 0px);
    background: #D0343C;
  }
  83% {
    transform: translate3d(-15px, 0px, 0px);
    background: #D0343C;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
@-o-keyframes error-shake {
  0% {
    transform: translate3d(0px, 0px, 0px);
    background: #D0343C;
  }
  16% {
    transform: translate3d(-15px, 0px, 0px);
    background: #D0343C;
  }
  33% {
    transform: translate3d(0px, 0px, 0px);
    background: #D0343C;
  }
  50% {
    transform: translate3d(15px, 0px, 0px);
    background: #D0343C;
  }
  67% {
    transform: translate3d(0px, 0px, 0px);
    background: #D0343C;
  }
  83% {
    transform: translate3d(-15px, 0px, 0px);
    background: #D0343C;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
@-ms-keyframes error-shake {
  0% {
    transform: translate3d(0px, 0px, 0px);
    background: #D0343C;
  }
  16% {
    transform: translate3d(-15px, 0px, 0px);
    background: #D0343C;
  }
  33% {
    transform: translate3d(0px, 0px, 0px);
    background: #D0343C;
  }
  50% {
    transform: translate3d(15px, 0px, 0px);
    background: #D0343C;
  }
  67% {
    transform: translate3d(0px, 0px, 0px);
    background: #D0343C;
  }
  83% {
    transform: translate3d(-15px, 0px, 0px);
    background: #D0343C;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
@-khtml-keyframes error-shake {
  0% {
    transform: translate3d(0px, 0px, 0px);
    background: #D0343C;
  }
  16% {
    transform: translate3d(-15px, 0px, 0px);
    background: #D0343C;
  }
  33% {
    transform: translate3d(0px, 0px, 0px);
    background: #D0343C;
  }
  50% {
    transform: translate3d(15px, 0px, 0px);
    background: #D0343C;
  }
  67% {
    transform: translate3d(0px, 0px, 0px);
    background: #D0343C;
  }
  83% {
    transform: translate3d(-15px, 0px, 0px);
    background: #D0343C;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
@keyframes pop {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 0.15);
  }
  50% {
    transform: scale(1.85, 0.15);
  }
  75% {
    transform: scale(1, 0.15);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes pop {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 0.15);
  }
  50% {
    transform: scale(1.85, 0.15);
  }
  75% {
    transform: scale(1, 0.15);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-moz-keyframes pop {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 0.15);
  }
  50% {
    transform: scale(1.85, 0.15);
  }
  75% {
    transform: scale(1, 0.15);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-o-keyframes pop {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 0.15);
  }
  50% {
    transform: scale(1.85, 0.15);
  }
  75% {
    transform: scale(1, 0.15);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-ms-keyframes pop {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 0.15);
  }
  50% {
    transform: scale(1.85, 0.15);
  }
  75% {
    transform: scale(1, 0.15);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-khtml-keyframes pop {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 0.15);
  }
  50% {
    transform: scale(1.85, 0.15);
  }
  75% {
    transform: scale(1, 0.15);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes pop-on-the-top {
  from {
    transform: translateY(300%);
  }
  to {
    transform: translateY(0%);
  }
}
@-webkit-keyframes pop-on-the-top {
  from {
    transform: translateY(300%);
  }
  to {
    transform: translateY(0%);
  }
}
@-moz-keyframes pop-on-the-top {
  from {
    transform: translateY(300%);
  }
  to {
    transform: translateY(0%);
  }
}
@-o-keyframes pop-on-the-top {
  from {
    transform: translateY(300%);
  }
  to {
    transform: translateY(0%);
  }
}
@-ms-keyframes pop-on-the-top {
  from {
    transform: translateY(300%);
  }
  to {
    transform: translateY(0%);
  }
}
@-khtml-keyframes pop-on-the-top {
  from {
    transform: translateY(300%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    opacity: 0.3;
  }
  50% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
    opacity: 0.3;
  }
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    opacity: 0.3;
  }
  50% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
    opacity: 0.3;
  }
}
@-moz-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    opacity: 0.3;
  }
  50% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
    opacity: 0.3;
  }
}
@-o-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    opacity: 0.3;
  }
  50% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
    opacity: 0.3;
  }
}
@-ms-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    opacity: 0.3;
  }
  50% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
    opacity: 0.3;
  }
}
@-khtml-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    opacity: 0.3;
  }
  50% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
    opacity: 0.3;
  }
}
@keyframes rotate-360 {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(270deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotate-360 {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(270deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@-moz-keyframes rotate-360 {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(270deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@-o-keyframes rotate-360 {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(270deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@-ms-keyframes rotate-360 {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(270deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@-khtml-keyframes rotate-360 {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(270deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes rubber {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes rubber {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@-moz-keyframes rubber {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@-o-keyframes rubber {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@-ms-keyframes rubber {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@-khtml-keyframes rubber {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes skew {
  0% {
    transform: skew(0deg, 0deg);
  }
  25% {
    transform: skew(10deg, 10deg);
  }
  50% {
    transform: skew(0deg, 0deg);
  }
  75% {
    transform: skew(-10deg, -10deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}
@-webkit-keyframes skew {
  0% {
    transform: skew(0deg, 0deg);
  }
  25% {
    transform: skew(10deg, 10deg);
  }
  50% {
    transform: skew(0deg, 0deg);
  }
  75% {
    transform: skew(-10deg, -10deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}
@-moz-keyframes skew {
  0% {
    transform: skew(0deg, 0deg);
  }
  25% {
    transform: skew(10deg, 10deg);
  }
  50% {
    transform: skew(0deg, 0deg);
  }
  75% {
    transform: skew(-10deg, -10deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}
@-o-keyframes skew {
  0% {
    transform: skew(0deg, 0deg);
  }
  25% {
    transform: skew(10deg, 10deg);
  }
  50% {
    transform: skew(0deg, 0deg);
  }
  75% {
    transform: skew(-10deg, -10deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}
@-ms-keyframes skew {
  0% {
    transform: skew(0deg, 0deg);
  }
  25% {
    transform: skew(10deg, 10deg);
  }
  50% {
    transform: skew(0deg, 0deg);
  }
  75% {
    transform: skew(-10deg, -10deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}
@-khtml-keyframes skew {
  0% {
    transform: skew(0deg, 0deg);
  }
  25% {
    transform: skew(10deg, 10deg);
  }
  50% {
    transform: skew(0deg, 0deg);
  }
  75% {
    transform: skew(-10deg, -10deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}
@keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(50deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-40deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@-webkit-keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(50deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-40deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@-moz-keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(50deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-40deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@-o-keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(50deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-40deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@-ms-keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(50deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-40deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@-khtml-keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(50deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-40deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

/*# sourceMappingURL=Animation.css.map */
