.flex, .Flex {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
}

.Grid {
  display: grid;
  display: -webkit-grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -o-grid;
}

.fill-width {
  width: stretch;
  width: -webkit-fill-available;
  height: -moz-available;
}

.fill-height {
  height: 100%;
}

.T-L {
  text-align: left;
  text-align: -moz-left;
  text-align: -webkit-left;
}

.T-R {
  text-align: right;
  text-align: -moz-right;
  text-align: -webkit-right;
}

a, button, .T-C {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  text-align: -ms-center;
  text-align: -o-center;
}

.T-J {
  text-align: justify;
  text-align: -moz-justify;
  text-align: -webkit-justify;
  text-align: -ms-justify;
  text-align: -o-justify;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito-Black"), url(../fonts/Nunito/Nunito-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito-BlackItalic"), url(../fonts/Nunito/Nunito-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito-ExtraBold"), url(../fonts/Nunito/Nunito-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito-ExtraBoldItalic"), url(../fonts/Nunito/Nunito-ExtraBoldItalic.ttf) format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito-Bold"), url(../fonts/Nunito/Nunito-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito-BoldItalic"), url(../fonts/Nunito/Nunito-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito-SemiBold"), url(../fonts/Nunito/Nunito-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito-SemiBoldItalic"), url(../fonts/Nunito/Nunito-SemiBoldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito-Regular"), url(../fonts/Nunito/Nunito-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito-Italic"), url(../fonts/Nunito/Nunito-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito-Light"), url(../fonts/Nunito/Nunito-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito-LightItalic"), url(../fonts/Nunito/Nunito-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito-ExtraLight"), url(../fonts/Nunito/Nunito-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito-ExtraLightItalic"), url(../fonts/Nunito/Nunito-ExtraLightItalic.ttf) format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Playfair Display";
  src: local("Playfair"), url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf) format("truetype supports variations"), url(../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf) format("truetype supports variations") format("truetype-variations");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: local("PlayfairItalic"), url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf) format("truetype supports variations"), url(../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf) format("truetype supports variations") format("truetype-variations");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-style: italic;
}
.A-I-C {
  align-items: center;
  -webkit-align-items: center;
}

.A-I-F-S {
  align-items: flex-start;
  -webkit-align-items: flex-start;
}

.A-I-F-E {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.A-S-C {
  align-self: center;
  -webkit-align-self: center;
}

.A-S-F-S {
  align-self: flex-start;
  -webkit-align-self: flex-start;
}

.A-S-F-E {
  align-self: flex-end;
  -webkit-align-self: flex-end;
}

.J-C-C {
  justify-content: center;
  -webkit-justify-content: center;
}

.J-C-F-S {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.J-C-F-E {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.J-C-S-A {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.J-C-S-B {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.F-F-C-N {
  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
}

.F-F-C-W {
  flex-flow: column wrap;
  -webkit-flex-flow: column wrap;
}

.F-F-R-N {
  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
}

.F-F-R-W {
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}

.N-P {
  padding: 0 !important;
}

.N-M {
  margin: 0 !important;
}

*:disabled {
  cursor: not-allowed;
}

.BlockScroll {
  overflow-y: hidden;
  overflow-y: -moz-hidden-unscrollable;
}

.Active {
  color: #000000;
  background: #ff8771 !important;
}

.Hidden {
  visibility: hidden;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  width: 12px;
  background: #711604;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #C6C9C7;
  border-left: 1px solid #878e8a;
}

img {
  vertical-align: unset;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.MainBlock {
  grid-area: 2/1/3/2;
}

.font-weight_100 {
  font-weight: 100 !important;
}
.font-weight_200 {
  font-weight: 200 !important;
}
.font-weight_300 {
  font-weight: 300 !important;
}
.font-weight_400 {
  font-weight: 400 !important;
}
.font-weight_500 {
  font-weight: 500 !important;
}
.font-weight_600 {
  font-weight: 600 !important;
}
.font-weight_700 {
  font-weight: 700 !important;
}
.font-weight_800 {
  font-weight: 800 !important;
}
.font-weight_900 {
  font-weight: 900 !important;
}

body {
  background: #fffcf9;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif !important;
  overflow-x: -moz-hidden-unscrollable;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  font-size: 20px;
  line-height: 1.5;
  word-spacing: 0.16px;
  letter-spacing: 0.12px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.crossed {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  color: #757C78;
}

.dropdown-toggle::after {
  content: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, .h1-size {
  font-size: 2em !important;
  font-weight: 900;
}

h2, .h2-size {
  font-size: 1.6em !important;
  font-weight: 800;
}

h3, .h3-size {
  font-size: 1.4em !important;
  font-weight: 700;
}

h4, .h4-size {
  font-size: 1.2em !important;
  font-weight: 600;
}

h5, .h5-size {
  font-size: 1.1em !important;
  font-weight: 500;
}

h6, .h6-size {
  font-size: 0.9em !important;
  font-weight: 400;
}

.copyright {
  font-size: 0.7em !important;
  font-weight: 400;
}

.helper {
  font-size: 0.8em !important;
  font-weight: 400;
}

a, button {
  transition: all 400ms ease-in-out;
  border: none;
  padding: 0;
}

*, *:focus, *:active {
  outline: none;
}

.none {
  display: none !important;
}

#root {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

video {
  object-fit: fill;
}

.Navbar, h1, h2, h3, h4, h5, h6, .Footer {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/*# sourceMappingURL=index.css.map */
