@import "base/Extensions";

@font-face {
  font-family: 'Nunito';
  src: local('Nunito-Black'), url(../fonts/Nunito/Nunito-Black.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito-BlackItalic'), url(../fonts/Nunito/Nunito-BlackItalic.ttf) format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito-ExtraBold'), url(../fonts/Nunito/Nunito-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito-ExtraBoldItalic'), url(../fonts/Nunito/Nunito-ExtraBoldItalic.ttf) format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito-Bold'), url(../fonts/Nunito/Nunito-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito-BoldItalic'), url(../fonts/Nunito/Nunito-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito-SemiBold'), url(../fonts/Nunito/Nunito-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito-SemiBoldItalic'), url(../fonts/Nunito/Nunito-SemiBoldItalic.ttf) format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito-Regular'), url(../fonts/Nunito/Nunito-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito-Italic'), url(../fonts/Nunito/Nunito-Italic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito-Light'), url(../fonts/Nunito/Nunito-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito-LightItalic'), url(../fonts/Nunito/Nunito-LightItalic.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito-ExtraLight'), url(../fonts/Nunito/Nunito-ExtraLight.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito-ExtraLightItalic'), url(../fonts/Nunito/Nunito-ExtraLightItalic.ttf) format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: local('Playfair'), url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf) format('truetype supports variations'),
  url(../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf) format('truetype supports variations') format('truetype-variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: local('PlayfairItalic'), url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf) format('truetype supports variations'),
  url(../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf) format('truetype supports variations') format('truetype-variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-style: italic;
}

.Flex {
  @extend %flex;
}

.Grid {
  @extend %grid;
}

.A-I-C {
  @include align-items(center);
}

.A-I-F-S {
  @include align-items(flex-start);
}

.A-I-F-E {
  @include align-items(flex-end);
}

.A-S-C {
  @include align-self(center);
}

.A-S-F-S {
  @include align-self(flex-start);
}

.A-S-F-E {
  @include align-self(flex-end);
}

.J-C-C {
  @include justify-content(center);
}

.J-C-F-S {
  @include justify-content(flex-start);
}

.J-C-F-E {
  @include justify-content(flex-end);
}

.J-C-S-A {
  @include justify-content(space-around);
}

.J-C-S-B {
  @include justify-content(space-between);
}

.F-F-C-N {
  @include flex-flow(column nowrap);
}

.F-F-C-W {
  @include flex-flow(column wrap);
}

.F-F-R-N {
  @include flex-flow(row nowrap);
}

.F-F-R-W {
  @include flex-flow(row wrap);
}

.T-C {
  @extend %textCenter;
}

.T-L {
  @extend %textLeft;
}

.T-R {
  @extend %textRight;
}

.T-J {
  @extend %textJustify;
}

.N-P {
  padding: 0 !important;
}

.N-M {
  margin: 0 !important;
}

*:disabled {
  cursor: not-allowed;
}

.BlockScroll {
  overflow-y: hidden;
  overflow-y: -moz-hidden-unscrollable;
}

.Active {
  color: $text;
  background: $primary-100 !important;
}

.Hidden {
  visibility: hidden;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  width: 12px;
  background: $primary-700;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: $tertiary-300;
  border-left: 1px solid $tertiary-600;
}

img {
  vertical-align: unset;
  @include user-select(none);
}

.MainBlock {
  grid-area: 2/1/3/2;
}

.font-weight {
  &_100 {
    font-weight: 100 !important;
  }

  &_200 {
    font-weight: 200 !important;
  }

  &_300 {
    font-weight: 300 !important;
  }

  &_400 {
    font-weight: 400 !important;
  }

  &_500 {
    font-weight: 500 !important;
  }

  &_600 {
    font-weight: 600 !important;
  }

  &_700 {
    font-weight: 700 !important;
  }

  &_800 {
    font-weight: 800 !important;
  }

  &_900 {
    font-weight: 900 !important;
  }
}

body {
  background: $layout-100;
  margin: 0;
  padding: 0;
  //font-family: 'Playfair Display', serif !important;
  font-family: 'Nunito', sans-serif !important;
  //font-family: 'Raleway', sans-serif !important;
  overflow-x: -moz-hidden-unscrollable;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  font-size: 20px;
  line-height: 1.5;
  word-spacing: 0.16px;
  letter-spacing: 0.12px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.crossed {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  color: $tertiary-700;
}

.dropdown-toggle::after {
  content: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, .h1-size {
  font-size: 2em !important;
  font-weight: 900;
}

h2, .h2-size {
  font-size: 1.6em !important;
  font-weight: 800;
}

h3, .h3-size {
  font-size: 1.4em !important;
  font-weight: 700;
}

h4, .h4-size {
  font-size: 1.2em !important;
  font-weight: 600;
}

h5, .h5-size {
  font-size: 1.1em !important;
  font-weight: 500;
}

h6, .h6-size {
  font-size: 0.9em !important;
  font-weight: 400;
}

.copyright {
  font-size: 0.7em !important;
  font-weight: 400;
}

.helper {
  font-size: 0.8em !important;
  font-weight: 400;
}

a, button {
  transition: all 400ms ease-in-out;
  border: none;
  padding: 0;
  @extend %textCenter;
}

*, *:focus, *:active {
  outline: none;
}

.flex {
  @extend %flex;
}

.none {
  display: none !important;
}

.fill-height {
  @extend %avaHeight;
}

.fill-width {
  @extend %avaWidth;
}

#root {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

video {
  object-fit: fill;
}

.Navbar, h1, h2, h3, h4, h5, h6, .Footer {
  @include user-select(none);
}