@import "../css/base/Extensions";

.Catering-Page {
  row-gap: calc(#{$standard} * 4);

  .Ov {
    height: 100%;
  }

  & > .B-T {
    grid-area: 2/2/3/3;
  }

  & > .B-M {
    grid-area: 3/2/4/3;
    row-gap: calc(#{$standard} * 3);

    .Card {
      row-gap: calc(#{$standard} * 2);

      .Ov-C {
        grid-area: 1/1/2/2;
      }

      .Catering-Title {
        grid-area: 2/1/3/2;
      }

      .Catering-Description {
        grid-area: 3/1/4/2;
        padding-inline: calc(#{$standard} * 2);
      }
    }

    .carousel {
      &-inner {
        height: 90%;
        padding: calc(#{$standard} * 2);
      }

      &-item {
        height: 100%;

        &.active {
          @include flex;
          @include flex__center;
        }
      }

      &-indicators {
        margin: 0;

        li {
          background-color: $secondary-800;
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .Catering-Page {
    grid-template-rows: $mainPadding 40px 900px $mainPadding;
    grid-template-columns: $mainPadding minmax(10px, 1fr) $mainPadding;

    .Card {
      grid-template-columns: 400px;
      grid-template-rows: 250px 40px 270px;
      grid-row-gap: 14px;

      img, .Ov-C {
        height: 250px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .Catering-Page {
    grid-template-rows: $mainPadding 40px 900px $mainPadding;
    grid-template-columns: calc(#{$standard} * 8) minmax(10px, 1fr) calc(#{$standard} * 8);

    .Card {
      grid-template-columns: 300px;
      grid-template-rows: 185px 40px 300px;

      img, .Ov-C {
        width: 300px;
        height: 185px;
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .Catering-Page {
    grid-template-rows: $mainPadding 40px 800px $mainPadding;
    grid-template-columns: calc(#{$standard} * 7) minmax(10px, 1fr) calc(#{$standard} * 7);

    .CateringOptions li > .Card {
      grid-template-columns: 270px;
      grid-template-rows: 185px 40px 300px;

      img, .Ov-C {
        width: 270px;
        height: 185px;
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .Catering-Page {
    grid-template-rows: $mainPadding 40px 700px $mainPadding;
    grid-template-columns: calc(#{$standard} * 5) minmax(10px, 1fr) calc(#{$standard} * 5);

    .Card {
      width: 70%;
      height: 100%;
      padding: calc(#{$standard} * 3);
      grid-template-columns: minmax(10px, 1fr);
      grid-template-rows: 180px 40px 300px;

      img, .Ov-C {
        width: 100%;
        height: 180px;
      }
    }

    .carousel {
      height: 520px;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .Catering-Page {
    grid-template-rows: $mainPadding 40px 800px $mainPadding;
    grid-template-columns: calc(#{$standard} * 3) minmax(10px, 1fr) calc(#{$standard} * 3);

    .Card {
      width: 70%;
      height: 100%;
      padding: calc(#{$standard} * 2);
      grid-template-columns: minmax(10px, 1fr);
      grid-template-rows: 185px 40px 300px;

      img, .Ov-C {
        width: 100%;
        height: 180px;
      }
    }

    .carousel {
      height: 580px;
    }
  }
}

@media only screen and (min-width: 381px) and (max-width: 599px) {
  .Catering-Page {
    grid-template-rows: $mainPadding 40px 700px $mainPadding;
    grid-template-columns: calc(#{$standard} * 2) minmax(10px, 1fr) calc(#{$standard} * 2);

    .Card {
      width: 100%;
      padding: $standard;
      grid-template-columns: minmax(10px, 1fr);
      grid-template-rows: 180px 40px 200px;

      img, .Ov-C {
        width: 100%;
        height: 180px;
      }
    }

    .carousel {
      height: 620px;

      &-control-prev, &-control-next {
        top: auto;
        z-index: 20;
      }
    }
  }
}

@media only screen and (max-width: 380px) {
  .Catering-Page {
    grid-template-rows: $standard 100px 700px $mainPadding;
    grid-template-columns: calc(#{$standard} * 2) minmax(10px, 1fr) calc(#{$standard} * 2);

    .Card {
      width: 100%;
      padding: $standard;
      grid-template-columns: minmax(10px, 1fr);
      grid-template-rows: 180px 40px 230px;

      img, .Ov-C {
        width: 100%;
        height: 180px;
      }
    }

    .carousel {
      height: 800px;

      &-control-prev, &-control-next {
        top: auto;
        z-index: 20;
      }
    }
  }
}
