.Main-Page {
  grid-template-columns: minmax(10px, 1fr);
}
.Main-Page a:hover {
  text-decoration: none;
}
.Main-Page .carousel {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.Main-Page .carousel .carousel-indicators {
  z-index: 3;
}
.Main-Page .carousel .carousel-indicators > li {
  background-color: #fffcf9;
}
.Main-Page .carousel .carousel-control-prev, .Main-Page .carousel .carousel-control-next {
  margin-inline: 20px;
  width: 10%;
}
.Main-Page .MiddleBlock {
  background-image: url("http://localhost:3000/img/svg/about.svg");
  -webkit-background-image: url("http://localhost:3000/img/svg/about.svg");
  -moz-background-image: url("http://localhost:3000/img/svg/about.svg");
  -o-background-image: url("http://localhost:3000/img/svg/about.svg");
  background-repeat: no-repeat;
  background-position: center right;
}
.Main-Page .MiddleBlock > div {
  row-gap: calc(7px * 10);
}
.Main-Page .MiddleBlock > div p {
  text-indent: calc(7px * 5);
  line-height: 2;
}
.Main-Page .BottomBlock {
  grid-area: 4/1/5/2;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@media only screen and (min-width: 1400px) {
  .Main-Page {
    grid-template-rows: 750px 850px 800px calc(7px * 10);
  }
  .Main-Page .TopBlock {
    grid-area: 1/1/2/2;
  }
  .Main-Page .BottomBlock {
    grid-area: 3/1/4/2;
  }
  .Main-Page .carousel {
    height: 750px;
  }
  .Main-Page .MiddleBlock {
    padding: calc(7px * 10);
    grid-area: 2/1/3/2;
    background-size: 800px auto;
    -webkit-background-size: 800px auto;
    -moz-background-size: 800px auto;
    -o-background-size: 800px auto;
  }
  .Main-Page .MiddleBlock > div {
    width: 400px;
  }
  .Main-Page .GridWrapper {
    grid-template-columns: 375px 600px 375px;
    grid-template-rows: repeat(2, 350px);
    grid-gap: 10px;
  }
  .Main-Page .GridWrapper > #catering {
    grid-area: 1/1/3/2;
  }
  .Main-Page .GridWrapper > #join_team {
    grid-area: 1/2/2/3;
  }
  .Main-Page .GridWrapper > #shop_all {
    grid-area: 2/2/3/3;
  }
  .Main-Page .GridWrapper > #locations {
    grid-area: 1/3/3/4;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .Main-Page {
    grid-template-rows: 750px 850px 800px calc(7px * 10);
  }
  .Main-Page .TopBlock {
    grid-area: 1/1/2/2;
  }
  .Main-Page .BottomBlock {
    grid-area: 3/1/4/2;
  }
  .Main-Page .carousel {
    height: 750px;
  }
  .Main-Page .MiddleBlock {
    padding: calc(7px * 10);
    grid-area: 2/1/3/2;
    background-size: 800px auto;
    -webkit-background-size: 800px auto;
    -moz-background-size: 800px auto;
    -o-background-size: 800px auto;
  }
  .Main-Page .MiddleBlock > div {
    width: 400px;
  }
  .Main-Page .GridWrapper {
    grid-template-columns: 300px 520px 300px;
    grid-template-rows: repeat(2, 310px);
    grid-gap: 10px;
  }
  .Main-Page .GridWrapper > #catering {
    grid-area: 1/1/3/2;
  }
  .Main-Page .GridWrapper > #join_team {
    grid-area: 1/2/2/3;
  }
  .Main-Page .GridWrapper > #shop_all {
    grid-area: 2/2/3/3;
  }
  .Main-Page .GridWrapper > #locations {
    grid-area: 1/3/3/4;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .Main-Page {
    grid-template-rows: 750px 850px 1250px calc(7px * 10);
  }
  .Main-Page .TopBlock {
    grid-area: 1/1/2/2;
  }
  .Main-Page .BottomBlock {
    grid-area: 3/1/4/2;
  }
  .Main-Page .carousel {
    height: 750px;
  }
  .Main-Page .MiddleBlock {
    padding: calc(7px * 10);
    grid-area: 2/1/3/2;
    background-size: 660px auto;
    -webkit-background-size: 660px auto;
    -moz-background-size: 660px auto;
    -o-background-size: 660px auto;
  }
  .Main-Page .MiddleBlock > div {
    width: 400px;
  }
  .Main-Page .GridWrapper {
    grid-template-columns: repeat(2, 380px);
    grid-template-rows: 300px 610px 300px;
    grid-gap: 20px;
  }
  .Main-Page .GridWrapper > #catering {
    grid-area: 2/1/3/2;
  }
  .Main-Page .GridWrapper > #join_team {
    grid-area: 1/1/2/3;
  }
  .Main-Page .GridWrapper > #shop_all {
    grid-area: 3/1/4/3;
  }
  .Main-Page .GridWrapper > #locations {
    grid-area: 2/2/3/3;
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .Main-Page {
    grid-template-rows: 750px 850px 980px calc(7px * 10);
  }
  .Main-Page .TopBlock {
    grid-area: 1/1/2/2;
  }
  .Main-Page .BottomBlock {
    grid-area: 3/1/4/2;
  }
  .Main-Page .carousel {
    height: 750px;
  }
  .Main-Page .MiddleBlock {
    padding: calc(7px * 10);
    grid-area: 2/1/3/2;
    background-size: 500px auto;
    -webkit-background-size: 500px auto;
    -moz-background-size: 500px auto;
    -o-background-size: 500px auto;
  }
  .Main-Page .MiddleBlock > div {
    width: 400px;
  }
  .Main-Page .GridWrapper {
    grid-template-columns: repeat(2, 290px);
    grid-template-rows: 240px 400px 240px;
    grid-gap: 20px;
  }
  .Main-Page .GridWrapper > #catering {
    grid-area: 2/1/3/2;
  }
  .Main-Page .GridWrapper > #join_team {
    grid-area: 1/1/2/3;
  }
  .Main-Page .GridWrapper > #shop_all {
    grid-area: 3/1/4/3;
  }
  .Main-Page .GridWrapper > #locations {
    grid-area: 2/2/3/3;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .Main-Page {
    grid-template-rows: 750px 880px 920px calc(7px * 10);
  }
  .Main-Page .TopBlock {
    grid-area: 1/1/2/2;
  }
  .Main-Page .BottomBlock {
    grid-area: 3/1/4/2;
  }
  .Main-Page .carousel {
    height: 750px;
  }
  .Main-Page .MiddleBlock {
    padding: calc(7px * 5);
    grid-area: 2/1/3/2;
    background-size: 660px auto;
    -webkit-background-size: 660px auto;
    -moz-background-size: 660px auto;
    -o-background-size: 660px auto;
  }
  .Main-Page .MiddleBlock > div {
    width: 300px;
    align-self: flex-end;
    -webkit-align-self: flex-end;
  }
  .Main-Page .GridWrapper {
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: 240px 400px 240px;
    grid-gap: 20px;
  }
  .Main-Page .GridWrapper > #catering {
    grid-area: 2/1/3/2;
  }
  .Main-Page .GridWrapper > #join_team {
    grid-area: 1/1/2/3;
  }
  .Main-Page .GridWrapper > #shop_all {
    grid-area: 3/1/4/3;
  }
  .Main-Page .GridWrapper > #locations {
    grid-area: 2/2/3/3;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .Main-Page {
    grid-template-rows: 750px 850px 730px calc(7px * 10);
  }
  .Main-Page .TopBlock {
    grid-area: 1/1/2/2;
  }
  .Main-Page .MiddleBlock {
    padding: calc(7px * 5);
    grid-area: 2/1/3/2;
    background-size: 660px auto;
    -webkit-background-size: 660px auto;
    -moz-background-size: 660px auto;
    -o-background-size: 660px auto;
  }
  .Main-Page .MiddleBlock > div {
    width: 230px;
    align-self: flex-end;
    -webkit-align-self: flex-end;
  }
  .Main-Page .BottomBlock {
    grid-area: 3/1/4/2;
  }
  .Main-Page .carousel {
    height: 750px;
  }
  .Main-Page .GridWrapper {
    grid-template-columns: repeat(2, 145px);
    grid-template-rows: 200px 310px 200px;
    grid-gap: 20px;
  }
  .Main-Page .GridWrapper > #catering {
    grid-area: 2/1/3/2;
  }
  .Main-Page .GridWrapper > #join_team {
    grid-area: 1/1/2/3;
  }
  .Main-Page .GridWrapper > #shop_all {
    grid-area: 3/1/4/3;
  }
  .Main-Page .GridWrapper > #locations {
    grid-area: 2/2/3/3;
  }
}
@media only screen and (max-width: 320px) {
  .Main-Page {
    grid-template-rows: 750px 1050px 730px calc(7px * 10);
  }
  .Main-Page .TopBlock {
    grid-area: 1/1/2/2;
  }
  .Main-Page .MiddleBlock {
    padding: calc(7px * 5);
    grid-area: 2/1/3/2;
    background-size: 660px auto;
    -webkit-background-size: 660px auto;
    -moz-background-size: 660px auto;
    -o-background-size: 660px auto;
  }
  .Main-Page .MiddleBlock > div {
    width: 200px;
    align-self: flex-end;
    -webkit-align-self: flex-end;
  }
  .Main-Page .BottomBlock {
    grid-area: 3/1/4/2;
  }
  .Main-Page .carousel {
    height: 750px;
  }
  .Main-Page .GridWrapper {
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: 170px 280px 170px;
    grid-gap: 20px;
  }
  .Main-Page .GridWrapper > #catering {
    grid-area: 2/1/3/2;
  }
  .Main-Page .GridWrapper > #join_team {
    grid-area: 1/1/2/3;
  }
  .Main-Page .GridWrapper > #shop_all {
    grid-area: 3/1/4/3;
  }
  .Main-Page .GridWrapper > #locations {
    grid-area: 2/2/3/3;
  }
}

/*# sourceMappingURL=Main.css.map */
