@import "../css/base/Extensions";

.News {
  grid-template-rows: calc(#{$standard} * 4) $mainPadding minmax(10px, 1fr) $mainPadding;
  row-gap: calc(#{$standard} * 6);

  & > .TopBlock {
    grid-area: 2/2/3/3;
  }

  a {
    &:hover {
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
    }

    &:-moz-focusring {
      text-decoration: none;
    }

    &:focus-visible {
      text-decoration: none;
    }
  }

  & > .MiddleBlock {
    grid-area: 3/2/4/3;
    row-gap: calc(#{$standard} * 6);
    @include columnGap(calc(#{$standard} * 4));

    .Card {
      grid-template-rows: 70px 210px 140px;
      grid-template-columns: 280px 260px;
      @include box-shadow(0 0 8px rgba(42, 8, 0, 1));
      padding: calc(#{$standard} * 2);
      color: $text;

      &:focus {
        @include box-shadow(0 0 20px rgba(203, 134, 87, 1));
      }

      &:focus-visible {
        @include box-shadow(0 0 20px rgba(203, 134, 87, 1));
      }

      &:-moz-focusring {
        @include box-shadow(0 0 20px rgba(203, 134, 87, 1));
      }

      .Image {
        grid-area: 1/1/4/2;
      }

      .Title {
        grid-area: 1/2/2/3;
      }

      .Description {
        grid-area: 2/2/4/3;
        row-gap: calc(#{$standard} * 4);
      }

      &.Small-Screen{
        grid-template-rows: 70px 210px minmax(0px, 140px) auto;
        grid-template-columns: 280px;
        padding: 4px;

        .Title {
          grid-area: 1/1/2/2;
        }

        .Description {
          grid-area: 2/1/4/2;
        }

        .Image {
          grid-area: 4/1/5/2;
        }
      }

      &.No-Img {
        grid-template-columns: 280px;

        .Title {
          grid-area: 1/1/2/2;
        }

        .Description {
          grid-area: 2/1/4/2;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .News {
    grid-template-columns: $mainPadding minmax(10px, 1fr) $mainPadding;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .News {
    grid-template-columns: calc(#{$standard} * 7) minmax(10px, 1fr) calc(#{$standard} * 7);
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .News {
    grid-template-columns: calc(#{$standard} * 4) minmax(10px, 1fr) calc(#{$standard} * 4);
  }
}

@media only screen and (max-width: 768px) {
  .News {
    grid-template-columns: calc(#{$standard} * 3) minmax(10px, 1fr) calc(#{$standard} * 3);
  }
}

@media only screen and (max-width: 480px) {
  .News {
    grid-template-columns: calc(#{$standard} * 2) minmax(10px, 1fr) calc(#{$standard} * 2);
  }
}

@media only screen and (max-width: 320px) {
  .News {
    grid-template-columns: calc(#{$standard} * 2) minmax(10px, 1fr) calc(#{$standard} * 2);
  }
}
