@import "../../css/base/Extensions";

button:focus-within, button:focus, button:active {
  outline: none;
}

.button, .Button {
  &-primary, &-secondary, &-tertiary,
  &-success, &-warning, &-error {
    @extend %flex;
    @extend %flex__center;
    @include transition(0.6);
    border-radius: 8px;
    outline: none;
    @include box-shadow(0 4px 2px rgba(0, 0, 0, 0.4));
  }

  &-primary {
    color: $text-inverted;
    background: $primary-700;

    &:hover {
      color: $text;
      background: $primary-200;
    }

    &:active {
      color: $text;
      background: $primary-100;
    }

    &:focus {
      background: $primary-500;
    }

    &:focus-visible {
      background: $primary-500;
    }

    &:-moz-focusring {
      background: $primary-500;
    }

    &:disabled {
      background: $primary-700;
      color: $text;
      opacity: 0.5;
    }
  }

  &-secondary {
    color: $text;
    background: $layout-100;
    border: 1px solid $secondary-1000;

    &:hover {
      color: $text;
      background: $secondary-100;
    }

    &:active {
      color: $text;
      background: $secondary-200;
    }

    &:focus {
      background: $secondary-500;
    }

    &:focus-visible {
      background: $secondary-500;
    }

    &:-moz-focusring {
      background: $secondary-500;
    }

    &:disabled {
      background: $layout-100;
      color: $text;
      opacity: 0.5;
    }
  }

  &-tertiary {
    color: $text-inverted;
    background: $tertiary-700;

    &:hover {
      color: $text;
      background: $tertiary-300;
    }

    &:active {
      color: $text;
      background: $tertiary-200;
    }

    &:focus {
      background: $tertiary-400;
    }

    &:focus-visible {
      background: $tertiary-400;
    }

    &:-moz-focusring {
      background: $tertiary-400;
    }

    &:disabled {
      background: $tertiary-700;
      color: $text;
      opacity: 0.5;
    }
  }

  &-success {
    color: $text;
    background: $success-300;

    &:hover {
      background: $success-200;
    }

    &:active {
      background: $success-100;
    }

    &:focus {
      background: $success-400;
    }

    &:focus-visible {
      background: $success-400;
    }

    &:-moz-focusring {
      background: $success-400;
    }

    &:disabled {
      background: $success-300;
      opacity: 0.5;
    }
  }

  &-warning {
    color: $text;
    background: $warning-300;

    &:hover {
      color: $text;
      background: $warning-200;
    }

    &:active {
      color: $text;
      background: $warning-100;
    }

    &:focus {
      background: $warning-400;
    }

    &:focus-visible {
      background: $warning-400;
    }

    &:-moz-focusring {
      background: $warning-400;
    }

    &:disabled {
      background: $warning-300;
      opacity: 0.5;
    }
  }

  &-error {
    color: $text-inverted;
    background: $error-300;

    &:hover {
      color: $text;
      background: $error-200;
    }

    &:active {
      color: $text;
      background: $error-100;
    }

    &:focus {
      background: $error-400;
      @include box-shadow(0 0 4px 8px $secondary-800);
    }

    &:focus-visible {
      background: $error-400;
      @include box-shadow(0 0 4px 8px $secondary-800);
    }

    &:-moz-focusring {
      background: $error-400;
      @include box-shadow(0 0 4px 8px $secondary-800);
    }

    &:disabled {
      background: $error-300;
      color: $text;
      opacity: 0.5;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .button {
    &-icon {
      width: 60px;
      height: 60px;

      &-footer {
        width: 40px;
        height: 40px;
      }

      &-dropdown {
        width: 52px;
        height: 52px;
      }
    }

    &-small {
      width: 120px;
      height: 60px;

      &-thin{
        height: 40px;
      }

      &-x-wide {
        width: 200px;
        height: 60px;
      }

      &-auto-wide {
        height: 60px;
        padding: 10px;
        @include flex-flow(column nowrap);
        @include justify-content(space-around);
      }
    }

    &-large {
      width: 180px;
      height: 80px;

      &-x-wide {
        width: 260px;
        height: 80px;
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .button {
    &-icon {
      width: 57px;
      height: 57px;

      &-footer {
        width: 38px;
        height: 38px;
      }

      &-dropdown {
        width: 49px;
        height: 49px;
      }
    }

    &-small {
      width: 114px;
      height: 57px;

      &-thin{
        height: 36px;
      }

      &-x-wide {
        width: 190px;
        height: 57px;
      }

      &-auto-wide {
        height: 57px;
        padding: 9px;
        @include flex-flow(column nowrap);
        @include justify-content(space-around);
      }
    }

    &-large {
      width: 170px;
      height: 76px;

      &-x-wide {
        width: 245px;
        height: 76px;
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .button {
    &-icon {
      width: 54px;
      height: 54px;

      &-footer {
        width: 36px;
        height: 36px;
      }

      &-dropdown {
        width: 46px;
        height: 46px;
      }
    }

    &-small {
      width: 108px;
      height: 54px;

      &-thin{
        height: 28px;
      }

      &-x-wide {
        width: 180px;
        height: 54px;
      }

      &-auto-wide {
        height: 54px;
        padding: 10px;
        @include flex-flow(column nowrap);
        @include justify-content(space-around);
      }
    }

    &-large {
      width: 160px;
      height: 72px;

      &-x-wide {
        width: 230px;
        height: 72px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .button {
    &-icon {
      width: 51px;
      height: 51px;

      &-footer {
        width: 34px;
        height: 34px;
      }

      &-dropdown {
        width: 43px;
        height: 43px;
      }
    }

    &-small {
      width: 102px;
      height: 51px;

      &-thin{
        height: 22px;
      }

      &-x-wide {
        width: 170px;
        height: 51px;
      }

      &-auto-wide {
        height: 51px;
        padding: 7px;
        @include flex-flow(column nowrap);
        @include justify-content(space-around);
      }
    }

    &-large {
      width: 150px;
      height: 68px;

      &-x-wide {
        width: 215px;
        height: 68px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .button {
    &-icon {
      width: 48px;
      height: 48px;

      &-footer {
        width: 32px;
        height: 32px;
      }

      &-dropdown {
        width: 40px;
        height: 40px;
      }
    }

    &-small {
      width: 96px;
      height: 48px;

      &-thin{
        height: 24px;
      }

      &-x-wide {
        width: 160px;
        height: 48px;
      }

      &-auto-wide {
        height: 48px;
        padding: 10px;
        @include flex-flow(column nowrap);
        @include justify-content(space-around);
      }
    }

    &-large {
      width: 146px;
      height: 64px;

      &-x-wide {
        width: 200px;
        height: 64px;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .button {
    &-icon {
      width: 45px;
      height: 45px;

      &-footer {
        width: 30px;
        height: 30px;
      }

      &-dropdown {
        width: 37px;
        height: 37px;
      }
    }

    &-small {
      width: 90px;
      height: 45px;

      &-x-wide {
        width: 150px;
        height: 45px;
      }

      &-auto-wide {
        height: 45px;
        padding: 10px;
        @include flex-flow(column nowrap);
        @include justify-content(space-around);
      }
    }

    &-large {
      width: 130px;
      height: 60px;

      &-x-wide {
        width: 185px;
        height: 60px;
      }
    }
  }
}