.button-primary, .button-secondary, .button-tertiary, .button-success, .button-warning, .button-error {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
}

.button-primary, .button-secondary, .button-tertiary, .button-success, .button-warning, .button-error {
  align-items: center;
  align-items: -moz-center;
  align-items: -webkit-center;
  align-items: -ms-center;
  align-items: -o-center;
  justify-content: center;
  justify-content: -moz-center;
  justify-content: -webkit-center;
  justify-content: -ms-center;
  justify-content: -o-center;
}

button:focus-within, button:focus, button:active {
  outline: none;
}

.button-primary, .button-secondary, .button-tertiary, .button-success, .button-warning, .button-error {
  transition: all 0.6s ease-in-out !important;
  -webkit-transition: all 0.6s ease-in-out !important;
  -moz-transition: all 0.6s ease-in-out !important;
  -ms-transition: all 0.6s ease-in-out !important;
  -o-transition: all 0.6s ease-in-out !important;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.4);
}
.button-primary {
  color: #ffffff;
  background: #711604;
}
.button-primary:hover {
  color: #000000;
  background: #FA5B3D;
}
.button-primary:active {
  color: #000000;
  background: #ff8771;
}
.button-primary:focus {
  background: #BD2608;
}
.button-primary:focus-visible {
  background: #BD2608;
}
.button-primary:-moz-focusring {
  background: #BD2608;
}
.button-primary:disabled {
  background: #711604;
  color: #000000;
  opacity: 0.5;
}
.button-secondary {
  color: #000000;
  background: #fffcf9;
  border: 1px solid #2a0800;
}
.button-secondary:hover {
  color: #000000;
  background: #ffcf9c;
}
.button-secondary:active {
  color: #000000;
  background: #eeb785;
}
.button-secondary:focus {
  background: #b96d40;
}
.button-secondary:focus-visible {
  background: #b96d40;
}
.button-secondary:-moz-focusring {
  background: #b96d40;
}
.button-secondary:disabled {
  background: #fffcf9;
  color: #000000;
  opacity: 0.5;
}
.button-tertiary {
  color: #ffffff;
  background: #757C78;
}
.button-tertiary:hover {
  color: #000000;
  background: #C6C9C7;
}
.button-tertiary:active {
  color: #000000;
  background: #DBDDDC;
}
.button-tertiary:focus {
  background: #a7aca9;
}
.button-tertiary:focus-visible {
  background: #a7aca9;
}
.button-tertiary:-moz-focusring {
  background: #a7aca9;
}
.button-tertiary:disabled {
  background: #757C78;
  color: #000000;
  opacity: 0.5;
}
.button-success {
  color: #000000;
  background: #25B84C;
}
.button-success:hover {
  background: #5dd07c;
}
.button-success:active {
  background: #95E8AB;
}
.button-success:focus {
  background: #168734;
}
.button-success:focus-visible {
  background: #168734;
}
.button-success:-moz-focusring {
  background: #168734;
}
.button-success:disabled {
  background: #25B84C;
  opacity: 0.5;
}
.button-warning {
  color: #000000;
  background: #DDB814;
}
.button-warning:hover {
  color: #000000;
  background: #EEC71C;
}
.button-warning:active {
  color: #000000;
  background: #F0D458;
}
.button-warning:focus {
  background: #C8A919;
}
.button-warning:focus-visible {
  background: #C8A919;
}
.button-warning:-moz-focusring {
  background: #C8A919;
}
.button-warning:disabled {
  background: #DDB814;
  opacity: 0.5;
}
.button-error {
  color: #ffffff;
  background: #D0343C;
}
.button-error:hover {
  color: #000000;
  background: #FA6E75;
}
.button-error:active {
  color: #000000;
  background: #FA6E75;
}
.button-error:focus {
  background: #c11c24;
  box-shadow: 0 0 4px 8px #4e2210;
}
.button-error:focus-visible {
  background: #c11c24;
  box-shadow: 0 0 4px 8px #4e2210;
}
.button-error:-moz-focusring {
  background: #c11c24;
  box-shadow: 0 0 4px 8px #4e2210;
}
.button-error:disabled {
  background: #D0343C;
  color: #000000;
  opacity: 0.5;
}

/* Large desktops and laptops */
@media only screen and (min-width: 1200px) {
  .button-icon {
    width: 60px;
    height: 60px;
  }
  .button-icon-footer {
    width: 40px;
    height: 40px;
  }
  .button-icon-footer img {
    width: 30px;
    height: 30px;
  }
  .button-icon-dropdown {
    width: 52px;
    height: 52px;
  }
  .button-small {
    width: 120px;
    height: 60px;
  }
  .button-small-x-wide {
    width: 200px;
    height: 60px;
  }
  .button-small-auto-wide {
    height: 60px;
    padding: 10px;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  .button-large {
    width: 180px;
    height: 80px;
  }
  .button-large-x-wide {
    width: 260px;
    height: 80px;
  }
}
/* Landscape tablets and medium desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .button-icon {
    width: 54px;
    height: 54px;
  }
  .button-icon-footer {
    width: 36px;
    height: 36px;
  }
  .button-icon-dropdown {
    width: 47px;
    height: 47px;
  }
  .button-small {
    width: 108px;
    height: 54px;
  }
  .button-small-x-wide {
    width: 162px;
    height: 54px;
  }
  .button-small-auto-wide {
    height: 54px;
    padding: 9px;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  .button-large {
    width: 162px;
    height: 72px;
  }
  .button-large-x-wide {
    width: 234px;
    height: 72px;
  }
}
/* Portrait tablets and small desktops */
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .button-icon {
    width: 48px;
    height: 48px;
  }
  .button-icon-footer {
    width: 32px;
    height: 32px;
  }
  .button-icon-footer img {
    width: 24px;
    height: 24px;
  }
  .button-icon-dropdown {
    width: 52px;
    height: 52px;
  }
  .button-small {
    width: 96px;
    height: 48px;
  }
  .button-small-x-wide {
    width: 128px;
    height: 48px;
  }
  .button-small-auto-wide {
    height: 48px;
    padding: 8px;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  .button-large {
    width: 128px;
    height: 64px;
  }
  .button-large-x-wide {
    width: 208px;
    height: 64px;
  }
}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 768px) {
  .button-icon {
    width: 42px;
    height: 42px;
  }
  .button-icon-footer {
    width: 28px;
    height: 28px;
  }
  .button-icon-footer img {
    width: 21px;
    height: 21px;
  }
  .button-icon-dropdown {
    width: 36px;
    height: 36px;
  }
  .button-small {
    width: 84px;
    height: 42px;
  }
  .button-small-x-wide {
    width: 140px;
    height: 42px;
  }
  .button-small-auto-wide {
    height: 42px;
    padding: 7px;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  .button-large {
    width: 126px;
    height: 56px;
  }
  .button-large-x-wide {
    width: 182px;
    height: 56px;
  }
}
/* Portrait phones and smaller */
@media only screen and (max-width: 480px) {
  .button-icon {
    width: 60px;
    height: 60px;
  }
  .button-icon-footer {
    width: 40px;
    height: 40px;
  }
  .button-icon-footer img {
    width: 30px;
    height: 30px;
  }
  .button-icon-dropdown {
    width: 52px;
    height: 52px;
  }
  .button-small {
    width: 120px;
    height: 60px;
  }
  .button-small-x-wide {
    width: 200px;
    height: 60px;
  }
  .button-small-auto-wide {
    height: 60px;
    padding: 10px;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  .button-large {
    width: 180px;
    height: 80px;
  }
  .button-large-x-wide {
    width: 260px;
    height: 80px;
  }
}
/* Iphone 5 */
@media only screen and (max-width: 320px) {
  .button-icon {
    width: 60px;
    height: 60px;
  }
  .button-icon-footer {
    width: 40px;
    height: 40px;
  }
  .button-icon-footer img {
    width: 30px;
    height: 30px;
  }
  .button-icon-dropdown {
    width: 52px;
    height: 52px;
  }
  .button-small {
    width: 120px;
    height: 60px;
  }
  .button-small-x-wide {
    width: 200px;
    height: 60px;
  }
  .button-small-auto-wide {
    height: 60px;
    padding: 10px;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  .button-large {
    width: 180px;
    height: 80px;
  }
  .button-large-x-wide {
    width: 260px;
    height: 80px;
  }
}

/*# sourceMappingURL=Button.css.map */
