@import "../css/base/Extensions";

.Products_List-Page {
  grid-template-rows: calc(#{$standard} * 3) 40px minmax(10px, 1fr) $mainPadding;
  row-gap: $mainPadding;

  & > .TopBlock {
    grid-area: 2/2/3/3;
  }

  & > .MiddleBlock {
    grid-area: 3/2/4/3;

    & > .Products {
      gap: calc(#{$standard} * 5);

      li {
        a[href] {
          text-decoration: none;
        }

        .Card {
          grid-template-rows: minmax(10px, 1fr) 130px;
          grid-template-columns: minmax(10px, 1fr);
          row-gap: calc(#{$standard} * 2);

          .Overlay-Container {
            grid-area: 1/1/2/2;
          }

          .Product-Info {
            grid-area: 2/1/3/2;
          }
        }

        .Product-Info {
          padding-inline: $standard;
          color: $text;

          .Product-Price {
            grid-template-rows: 30px minmax(0px, 1fr);
            grid-template-columns: minmax(10px, 1fr);
            padding-bottom: calc(#{$standard} * 3);
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .Products_List-Page {
    grid-template-columns: calc(#{$standard} * 4) minmax(10px, 1fr) calc(#{$standard} * 4);
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .Products_List-Page {
    grid-template-columns: calc(#{$standard} * 3) minmax(10px, 1fr) calc(#{$standard} * 3);
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .Products_List-Page {
    grid-template-columns: calc(#{$standard} * 3) minmax(10px, 1fr) calc(#{$standard} * 3);
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .Products_List-Page {
    grid-template-columns: calc(#{$standard} * 2) minmax(10px, 1fr) calc(#{$standard} * 2);
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .Products_List-Page {
    grid-template-columns: calc(#{$standard} * 2) minmax(10px, 1fr) calc(#{$standard} * 2);
  }
}

@media only screen and (max-width: 320px) {
  .Products_List-Page {
    grid-template-columns: $standard minmax(10px, 1fr) $standard;
  }
}
